{#{% extends '/base.html.twig' %}#}
{% set Apps = theme.theme %}

{% block content %}



    <!--        page coordonnees conditionnée par href "coordonnées" depuis page accueil artisan        -->
    <section class="mt-2 row justify-content-center m-auto">
        <section class="counters-one counters-one-martopminus d-flex row  text-center justify-content-xl-between"
                 style="max-height:100px; padding:30px; margin: 0 10% 0 10%">
            <ul class="portfolio-details__info-list list-unstyled">
                <li>{{ artisans.prenomGerant|striptags|default('prénom') }}</li>
                <li>{{ artisans.nomgerant|striptags|default('NOM')|upper }}</li>
                <li>{{ 'now'|date }}</li>
            </ul>
        </section>


    <!-- cible -->
    <section class="services-one">
        <div class="services-one-container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Vos informations personnelles</span>

                <div class="row">
                    {% for message in app.flashes('success') %}
                        <div id="flash-message" class="alert alert-success">
                            {{ message }}
                            <button id="flashbtn" type="button" class="close">Fermer</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-3">
                        <div class="col-xl-4 col-lg-4 h-100">
                            <!--                Entreprise              -->
                            <div class="services-one__single" style="height:1200px">
                                <h2 class="services-one__title">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.raisonSociale|striptags|default('77') }}</a>
                                </h2>
                                <p class="services-one__text">Raison sociale</p>

                                <h2 class="services-one__title mt-5" style="color: {{ theme.theme.couleurActuelleBg }}"><a style="color: {{ theme.theme.couleurActuelleBg }}"> {{ artisans.nomEtablissement|striptags|default('eurl...') }} </a>
                                </h2>
                                <p class="services-one__text">Etablissement</p>

                                <h2 class="services-one__title mt-5">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.siret|striptags|default('siret') }}</a>
                                </h2>
                                <p class="services-one__text">SIRET</p>

                                <p class="row border-bottom mt-5"></p>

                                <h2 class="odometer mt-5" style="color: {{ theme.theme.couleurActuelleBg }}"
                                    data-count="{{artisans.numeroRue|striptags|default('77') }}">00</h2>
                                <p class="services-one__text mt-2">Numéro de la rue</p>

                                <h2 class="services-one__title mt-5" style="color: {{ theme.theme.couleurActuelleBg }}">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.nomRue|striptags|default('grande rue') }}</a>
                                </h2>
                                <p class="services-one__text">Nom de la rue</p>

                                <h2 class="services-one__title mt-5">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.codePostal|striptags|default('70000') }}</a>
                                </h2>
                                <p class="services-one__text">Code postal</p>

                                <h2 class="services-one__title mt-5">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.localite|striptags|default('Vesoul') }}</a>
                                </h2>
                                <p class="services-one__text">Localité</p>

                                <div class="services-one__icon">
                                    <span class="icon-furnitures"></span>
                                </div>
                            </div>
                        </div>

                        <!--      Info gérant    -->
                        <div class="col-xl-4 col-lg-4 h-100 ">
                            <div class="services-one__single" style="height:1200px">

                                <h2 class="services-one__title">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.prenomGerant|striptags|default('praenomen')}}</a>
                                </h2>
                                <p class="services-one__text">Prénom</p>

                                <h2 class="services-one__title mt-5">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.nomGerant|striptags|default('nom gérant') }}</a>
                                </h2>
                                <p class="services-one__text">nom du gérant</p>

                                <h2 class="services-one__title mt-5">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.dateNaissance|date("m/d/Y")|default('01 janvier 1972') }}</a>
                                </h2>
                                <p class="services-one__text">Date de naissance</p>

                                <div class="services-one__icon">
                                    <span class="icon-buildings"></span>
                                </div>
                            </div>
                        </div>

                        <!--    Coordonnées gérant et entreprise    -->
                        <div class="col-xl-4 col-lg-4 h-100">
                            <div class="services-one__single" style="height:1200px">
                                <h2 class="services-one__title">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.telPortable|striptags|default('06.07....') }}</a>
                                </h2>
                                <p class="services-one__text">Téléphone portable</p>

                                <h2 class="services-one__title mt-5">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.telFixe|striptags|default('03 84....') }}</a>
                                </h2>
                                <p class="services-one__text">Téléphone fixe</p>

                                <h2 class="services-one__title mt-5">
                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.fax|striptags|default('n°fax') }}</a>
                                </h2>
                                <p class="services-one__text">Fax</p>

{#                                <h2 class="services-one__title mt-5">#}
{#                                    <a style="color: {{ theme.theme.couleurActuelleBg }}">{{ artisans.user.email|striptags|default('...@aol.fr') }}</a>                                </h2>#}
{#                                <p class="services-one__text">Email</p>#}

                                <div class="services-one__icon">
                                    <span class="icon-house-design"></span>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <div class="d-flex justify-content-end  bd-highlight mt-5 m-2">
            <div>
                <a style="padding: 20px; border-radius: 20px ; margin: 10px;color:#FFFFFF;background-color: rgb(115, 115, 115)"
                   class=" text-center portfolio-details__info-list list-unstyled alert-info"
                   href="{{ path('app_artisan_change_coordonnees',{ 'id': artisans.id}) }}">Corriger<span class="m-2">>> </span>
                </a>
            </div>
        </div>
    </section>

{% endblock %}