{% set Apps = theme.theme %}
<!-- Tableau de bord artisan : list des projets-->
<div class="alert-primary bg-secondary m-5 table-responsive">
    <h2>Listing projets</h2>

    <!-- Liste des projets-->
    <table class="table m-4  table align-middle">
        <thead>
        <tr>
            <th scope="col"><i> N°</i></th>
            <th scope="col"><i> Localité </i></th>
            <th scope="col"><i> Client(s) </i></th>
            <th scope="col">Nom du projet</th>
            <th scope="col">Date de début</th>
            <th scope="col">Durée</th>
            <th scope="col">Taches à faire</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            {% for key, pjt in listePjt %}
                <th scope="row">{{ key }}</th>
                <td colspan="2" class="m-2">{{ pjt.localite }}</td>
                {% set  clientList=pjt.client %}
                {% for client in clientList %}
                    <td class="m-2">{{ client.prenom }}{{ client.nom }}/</td>
                {% endfor %}
                <td colspan="2" class=" m-2">{{ pjt.titre }}</td>
                <td class="m-2">{{ pjt.datedebut|date("m/d/Y")|default('à saisir') }}</td>
                <td class="m-2">{{ pjt.duree }}</td>

                {% set  tachesList=pjt.taches %}
                {% for tache in tachesList %}
                    <td class="m-2">{{ tache.titre }}<br>Début{{ tache.datedebut|date("m/d/Y")|default('à saisir') }}
                        <br>{{ tache.budget }} €
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        </tbody>

    </table>
</div>

<!-- Card des documents-->
<section class="h-auto">
    <div class="container">
        <div class="row align-content-around">
            {% for key, pjt2 in listePjt %}
                <div class="col-sm-4">
                    <div class="card m-3">
                        <div class="card-body m-2" style="height: 500px ; object-fit: contain">
                            <img src="{{ asset('/assets/images/artisan/luminaires.jpg') }}..." class="card-img-top"
                                 alt="...">
                            <h5 class="card-title mt-3">
                                <i>N°{{ key }}</i> {{ pjt2.titre|u.truncate(50,'...',false)|raw }}</h5>
                            {% set  clientList=pjt2.client %}
                            {% for client in clientList %}
                                <p class="card-text">{{ client.prenom }} {{ client.nom }}</p>
                            {% endfor %}
                            <p class="card-text">{{ pjt2.localite }}</p>

                            {% set  tachesList=pjt2.taches %}
                            {% for tache in tachesList %}
                                <td class="m-2 "><i class="bi bi-arrow-right-circle-fill"> {{ tache.titre }}</i>
                                    <br> <i class="bi bi-arrow-right-circle-fill">
                                        Début{{ tache.datedebut|date("m/d/Y")|default('à saisir') }}</i>
                                    <br><i class="bi bi-arrow-right-circle-fill">{{ tache.budget }} € </i></td>
                            {% endfor %}
                            <br> <a href="#" class="btn btn-primary">Visualiser le document</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
