<!-- Detail des taches/ id projet et id user-->
{% set Apps = theme.theme %}

{% if  listeTaches is empty %}
    <div class="bg-info mt-5 text-center">
        <h4>Sélectionnez un des liens de la colonne "Projet" pour afficher le détail des travaux à effectuer.</h4>
    </div>
{% endif %}

{% if listeTaches is defined and listeTaches is not null %}
    <!-- titre du projet -->
    <div class="row m-2 text-center mt-xl-5 bg-light">
        {% for nompjt2 in listeTaches %}
            {% if loop.first %}
                <h3 class="border-bottom p-0 txt-center text-truncate">{{ nompjt2.projet.titre }}</h3>
            {% endif %}
        {% endfor %}
    </div>
    <!-- liste des taches sous forme de cards -->
    <div class="container mb-5 w-100" style="height:800px">
        <div class="row align-content-around">
            {% for key, pjt2 in listeTaches %}
                <div class="col-sm-4 mb-3 ">
                    <div class="card mt-3 h-100">
                        <div class="card-body m-2 overflow-auto">
                            <div class="col-3 justify-content-left align-content-center mb-4">
                                {% set image1 = Apps.logo %}
                                <img src="{{ vich_uploader_asset(image1) }}"
                                     alt="{{ image1.titre|default('image') }}" width="60">
                            </div>
                            <small> Identifiant de la
                                tâche: {{ pjt2.id }} <br>
                            </small>
                            <h4 class="card-title mt-3">             {{ pjt2.titre|u.truncate(50,'...',false)|raw }}
                            </h4>
                            <p class="card-text mt-3.overflow-auto "> Description: <br> {{ pjt2.description |raw }}</p>
                            <p class="card-text mt-3 text-truncate"> Budjet: {{ pjt2.budget|default('-') }} €</p>
                            <p class="card-text mt-3 text-truncate"> Date de
                                début: {{ pjt2.dateDebut|date("d/m/Y") }}</p>
                            <p class="card-text mt-3 text-truncate"> Date de fin: {{ pjt2.dateFin|date("d/m/Y") }}</p>
                            <p class="card-text mt-3 text-truncate"> Montant
                                facture: {{ pjt2.montantFacture|default('-') }}
                                €</p>
                            <p class="card-text mt-3 text-truncate"> Date
                                facture: {{ pjt2.dateFacture|date("d/m/Y") }}</p>
                            <p class="card-text mt-3 text-truncate"> Montant
                                accompte: {{ pjt2.montantAcompte |default('-') }} €</p>
                            <p class="card-text mt-3 text-truncate"> Date
                                accompte: {{ pjt2.dateAcompte|date("d/m/Y") }}</p>
                        </div>
                        <small class="text-center bg-light text-truncate">Date d'aujourd'hui affichée par défaut</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


<!-- Affichage résultat TACHES  -->
<!--colonne gauche-->
{#    <div class="row"> #}
    {#        <div class="col-2 h-75"> #}
    {#            <div class="contact-page__details" style="padding: 51px 32px 40px"> #}


    {#                <div class="contact-page__details-shape" #}
    {#                     style="background-image: url({{ asset('assets/images/shapes/contact-page__details-shape.png') }})"> #}
    {#                </div> #}
    {#                <p class="contact-page__details-text">Vous pouvez me joindre également par mail ou par #}
    {#                    téléphone.</p> #}


    {#                <div class=" mt-5 mb-5 col offcanvas offcanvas-start" #}
    {#                     style="background-color:lightgrey" tabindex="-1" #}
    {#                     id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false"> #}
    {#                    <div class="offcanvas-header"> #}
    {#                        <h3 class="mt-1 mb-1 offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h3> #}
    {#                    </div> #}
    {#                </div> #}
    {#                <div class="contact-page__details-contact-info"> #}
    {#                    <div class="row"> #}
    {#                        <!--Menu   --> #}
    {#                        <!--Gauche --> #}
    {#                        <div class="offcanvas-body px-0 h-50"> #}
    {#                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" #}
    {#                                id="menu"> #}
    {#                                <li class="nav-item"> #}
    {#                                    <a href="{{ path('app_artisan_accueil',{ 'id': artisans.id}) }}" #}
    {#                                       class="nav-link text-truncate"> #}
    {#                                        <i class="fs-5 bi-house"></i><span #}
    {#                                                class="ms-1 d-none d-sm-inline">Coordonnées</span> #}
    {#                                    </a> #}

    {#                                </li> #}
    {#                                <li> #}
    {#                                    <a href="{{ path('app_artisan_accueilDoc', { 'id': artisans.id, 'doc': 'doc' }) }}" #}
    {#                                       class="nav-link text-truncate"> #}
    {#                                        <i class="fs-5 bi-speedometer2"></i><span #}
    {#                                                class="ms-1 d-none d-sm-inline">Documents</span> #}
    {#                                    </a> #}
    {#                                </li> #}
    {#                                <li> #}
    {#                                    <a href="{{ path('app_artisan_accueilPjt', { 'id': artisans.id,'projet': 'projet','value': 'value' }) }}" #}
    {#                                       class="nav-link text-truncate"> #}
    {#                                        <i class="fs-5 bi-grid"></i><span #}
    {#                                                class="ms-1 d-none d-sm-inline">Projet</span></a> #}
    {#                                </li> #}
    {#                                                            <li> #}
    {#                                                                <a href="{{ path('app_contact') }}" class="nav-link text-truncate mb-6"> #}
    {#                                                                    <i class="fs-5 bi-table"></i><span #}
    {#                                                                            class="ms-1 d-none d-sm-inline">Contact</span></a> #}
    {#                                                            </li> #}
    {#                                <li> #}
    {#                                    <a href="{{ path('app_logout') }}" class="nav-link text-truncate mb-6"> #}
    {#                                        <i class="fs-5 bi-table"></i><span #}
    {#                                                class="ms-1 d-none d-sm-inline">Déconnecter</span></a> #}
    {#                                </li> #}
    {#                            </ul> #}
    {#                        </div> #}
    {#                    </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </div> #}
<!--fin colonne gauche -->