{% set Apps = theme.theme %}

{% block content %}
    {#  {% if  documentIdArtisan is defined %} #}

    <h3 class="text-truncate mb-4 text-center border-bottom p-1">Liste de vos documents partagés</h3>

    <div class=" bg-light mt-0 m-2 mb-5 ">
        <!-- Liste des documents-->
        <div class="table-responsive p-0 w-100">
            <table class="table m-1 border-bottom mt-xl-5">
                <thead>
                <tr class=text-center">
                    <th scope="col" class="text-truncate"><i> N°</i></th>
                    <th scope="col" class="text-truncate"><i> Type </i></th>
                    <th scope="col" class="text-truncate">Titre</th>
                    <th scope="col" class="text-truncate ">Localité</th>
                    <th scope="col" class="text-center text-truncate">Client 1</th>
                    <th scope="col" class="text-center text-truncate">Client 2</th>
                </tr>
                </thead>
                {% if documentIdArtisan is defined %}
                    {% for key, tableDoc in documentIdArtisan %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ key }}</th>
                            <td class="m-lg-5 text-truncate">{{ tableDoc.type }}</td>
                            <td class="m-lg-3 text-truncate p-3"> {{ tableDoc.titre }}</td>
                            <td class="m-lg-4 text-truncate">{{ tableDoc.projet.localite }}</td>
                            {% set clientList=tableDoc.projet.client %}
                            {% for client in clientList %}
                                <td class="m-lg-5 text-truncate text-center">{{ client.prenom }} <br> {{ client.nom }}
                                </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>

    <!-- Card des documents fonctionnel- A DECOMMENTER SI BESOIN  -->
    {#    <section class="h-auto"> #}
    {#        <div class="container"> #}
    {#            <div class="row align-content-around"> #}
    {#                {% if documentIdArtisan is defined %} #}
    {#                {% for key, arrayCard in documentIdArtisan %} #}
    {#                    <div class="col-sm-4"> #}
    {#                        <div class="card m-3"> #}
    {#                            <div class="card-body m-2" style="height: 500px ; object-fit: contain"> #}
    {#                                <img src="{{ asset('/assets/images/blog_scandinav.png') }}..." class="card-img-top" #}
    {#                                     alt="..."> #}
    {#                                <h5 class="card-title mt-3"><i>N°{{ key }}</i> {{ arrayCard.titre|u.truncate(50,'...',false)|raw }}</h5> #}

    {#                                {% set clientList=arrayCard.projet.client %} #}
    {#                                {% for client in clientList %} #}
    {#                                    <p class="card-text">{{ client.prenom }} {{ client.nom }}</p> #}
    {#                                    <p class="card-text">{{ arrayCard.projet.localite }}</p> #}
    {#                              {% endfor %} #}

    {#                                <a href="#" class="btn btn-primary">Visualiser le document</a> #}
    {#                            </div> #}
    {#                        </div> #}
    {#                    </div> #}
    {#                {% endfor %} #}
    {#                {% endif %} #}
    {#            </div> #}
    {#        </div> #}
    {#    </section> #}
    {# {% endif %} #}
{% endblock %}