
<!-- Tableau de bord artisan : list des projets-->

<div class=" alert-primary bg-light m-5 table-responsive ">
    <h2>Listing projets</h2>

    <!-- Liste des projets-->
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th colspan="1" scope="col">N°</th>
            <th colspan="1" scope="col">Localité</th>
            <th colspan="2" scope="col" > Projet</th>
            <th colspan="1" scope="col">Date début</th>
            <th colspan="1" scope="col">Durée (mois)</th>
{#            <th colspan="2" scope="col">Taches</th>#}
        </tr>
        </thead>

        <tbody>
        {% for key, pjt in listePjt %}
        <tr>
            <th scope="row">{{ key }}</th>
            <td colspan="1">{{ pjt.localite }}</td>
            <td colspan="2" ><a class="hoverDetailPjt bg-info" href="{{ path('app_artisan_accueilPjt', { 'id': artisans.id,'projet': 'projet','value':pjt.id })}}">{{ pjt.titre }}</a></td>
            <td colspan="1">{{ pjt.datedebut|date("m/d/Y")|default('à saisir') }}</td>
            <td colspan="2">{{ pjt.duree }}</td>

            {% set  clientList=pjt.client %}
            {% for key, client in clientList %}
            <tr> <th scope="row">Client</th>
                <td colspan="2">{{ client.prenom }} {{ client.nom }}</td>
            </tr>
            {% endfor %}
        <tr>
        {% endfor %}

        </tr>
        </tbody>
    </table>
</div>

<div class="bg-light">
{% if listeTaches is not empty %}
    {{ dump(listeTaches) }}

    {#             {% set  tachesList=pjt.taches %}#}
    {#                             {% for tache in tachesList %}#}
    {#                                 <td colspan="2">{{ tache.titre }}<br>Début{{ tache.datedebut|date("m/d/Y")|default('à saisir') }}#}
    {#                                     <br>{{ tache.budget }} €#}
    {#                                 </td>#}
    {#                             {% endfor %}#}
{% endif%}
</div>


<!-- Card des documents-->
<section>
    <div class="container ">
        <div class="row align-content-around">
            {% for key, pjt2 in listePjt %}
                <div class="col-sm-4 " style="object-fit: contain">
                    <div class="card m-3">
                        <div class="card-body m-2" >
                            <img src="{{ asset('/assets/images/artisan/luminaires.jpg') }}..." class="card-img-top"
                                 alt="...">
                            <h5 class="card-title mt-3">
                                <i>N°{{ key }}</i> {{ pjt2.titre|u.truncate(50,'...',false)|raw }}</h5>
                            {% set  clientList=pjt2.client %}
                            {% for key, client in clientList %}
                                <p class="card-text">{{ client.prenom }} {{ client.nom }}</p><br>
                            {% endfor %}
                            <p class="card-text">{{ pjt2.localite }}</p>

                            {% set  tachesList=pjt2.taches %}
                            {% for tache in tachesList %}
                                <td class="m-2 "><i class="bi bi-arrow-right-circle-fill"> {{ tache.titre }}</i>
                                    <br> <i class="bi bi-arrow-right-circle-fill">
                                        Début{{ tache.datedebut|date("m/d/Y")|default('à saisir') }}</i>
                                    <br><i class="bi bi-arrow-right-circle-fill">{{ tache.budget }} € </i></td>
                            {% endfor %}
                            <br> <a class="hoverDetailPjt btn btn-info" href="{{ path('app_artisan_accueilPjt', { 'id': artisans.id,'projet': 'projet','value':pjt2.id })}}">Visualiser le travail</a>
{#                            <a href="#" class="btn btn-primary">Visualiser le document</a>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
