<!-- Detail des taches/ id projet et id user-->


<h2 class="m-4">Détail du travail à faire</h2>

{# {% for tache in listeTaches %} #}
{#    #}{#    <ul> #}
{#    #}{#        <li>tache.nom</li> #}
{#    #}{#    </ul> #}
    {{ dump(listeTaches) }}
{% if listePjt is defined %}
    {{ dump(listePjt) }}
{% endif %}

{# {% endfor %} #}

<div id="test-time" class="text-center text-success"></div>
<div id="test-get" class="text-center text-primary"></div>

<button id="btnAjax" value="2" onclick="geek()">ajax!</button>


<script>

    let btnAjax = $('#btnAjax');
    btnAjax.on('click', function () {
        let tacheNumber = btnAjax.val();
        alert('ajax');
        console.log(tacheNumber);

    });


    function synchroneData() {
        let divTestTime = document.querySelector("#test-time");
        divTestTime.innerHTML = 'fonction synchrone'
    }

    async function fetchData() {
        let divAjaxGet = document.querySelector("#test-get");

        try {
            let response = await fetch('/{id}/{value}/ajax', {
                method: 'GET',
                headers: {"X-Requested-with": "XMLHttpRequest"},
            });

            divAjaxGet.innerHTML = await response.text();

        } catch (error) {

            console.error("Erreur lors de la récupération des données:", error);
        }
    }

    fetchData();
    synchroneData();

</script>


<!-- Affichage résultat TACHES  -->
<!--colonne gauche-->
{#    <div class="row"> #}
    {#        <div class="col-2 h-75"> #}
    {#            <div class="contact-page__details" style="padding: 51px 32px 40px"> #}


    {#                <div class="contact-page__details-shape" #}
    {#                     style="background-image: url({{ asset('assets/images/shapes/contact-page__details-shape.png') }})"> #}
    {#                </div> #}
    {#                <p class="contact-page__details-text">Vous pouvez me joindre également par mail ou par #}
    {#                    téléphone.</p> #}


    {#                <div class=" mt-5 mb-5 col offcanvas offcanvas-start" #}
    {#                     style="background-color:lightgrey" tabindex="-1" #}
    {#                     id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false"> #}
    {#                    <div class="offcanvas-header"> #}
    {#                        <h3 class="mt-1 mb-1 offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h3> #}
    {#                    </div> #}
    {#                </div> #}
    {#                <div class="contact-page__details-contact-info"> #}
    {#                    <div class="row"> #}
    {#                        <!--Menu   --> #}
    {#                        <!--Gauche --> #}
    {#                        <div class="offcanvas-body px-0 h-50"> #}
    {#                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" #}
    {#                                id="menu"> #}
    {#                                <li class="nav-item"> #}
    {#                                    <a href="{{ path('app_artisan_accueil',{ 'id': artisans.id}) }}" #}
    {#                                       class="nav-link text-truncate"> #}
    {#                                        <i class="fs-5 bi-house"></i><span #}
    {#                                                class="ms-1 d-none d-sm-inline">Coordonnées</span> #}
    {#                                    </a> #}

    {#                                </li> #}
    {#                                <li> #}
    {#                                    <a href="{{ path('app_artisan_accueilDoc', { 'id': artisans.id, 'doc': 'doc' }) }}" #}
    {#                                       class="nav-link text-truncate"> #}
    {#                                        <i class="fs-5 bi-speedometer2"></i><span #}
    {#                                                class="ms-1 d-none d-sm-inline">Documents</span> #}
    {#                                    </a> #}
    {#                                </li> #}
    {#                                <li> #}
    {#                                    <a href="{{ path('app_artisan_accueilPjt', { 'id': artisans.id,'projet': 'projet','value': 'value' }) }}" #}
    {#                                       class="nav-link text-truncate"> #}
    {#                                        <i class="fs-5 bi-grid"></i><span #}
    {#                                                class="ms-1 d-none d-sm-inline">Projet</span></a> #}
    {#                                </li> #}
    {#                                                            <li> #}
    {#                                                                <a href="{{ path('app_contact') }}" class="nav-link text-truncate mb-6"> #}
    {#                                                                    <i class="fs-5 bi-table"></i><span #}
    {#                                                                            class="ms-1 d-none d-sm-inline">Contact</span></a> #}
    {#                                                            </li> #}
    {#                                <li> #}
    {#                                    <a href="{{ path('app_logout') }}" class="nav-link text-truncate mb-6"> #}
    {#                                        <i class="fs-5 bi-table"></i><span #}
    {#                                                class="ms-1 d-none d-sm-inline">Déconnecter</span></a> #}
    {#                                </li> #}
    {#                            </ul> #}
    {#                        </div> #}
    {#                    </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </div> #}
<!--fin colonne gauche -->