{% set Apps = theme.theme %}
{# {% set renderedField = form_row(formLoadDoc) %} #}
{% block content %}
    {% if  documentIdArtisan is defined %}
        <div class="alert-primary bg-light m-4">
            <h2>Envoyez vos documents</h2>


            {# Loader de vich #}
            <div>
                <div class="row justify-content-center m-auto bg-light mt-xl-5">
                    <div class="col-6">
                        {{ form_start(formLoadDoc) }}
                        <div class="row">
                            <div class="contact-page__input-box">
                                {{ form_row(formLoadDoc.documentsFile) }}
                            </div>
                            <div class="mt-5">
                                {{ form_row(formLoadDoc.titre, {'label':'Titre du document' }) }}
                            </div>
                            <div class="mt-5">
                                {{ form_row(formLoadDoc.type,{'label':'Type de document' }) }}
                            </div>
                            <div class="mt-5">
                                {{ form_row(formLoadDoc.projet, {'label':'Concerne le projet suivant' }) }}
                            </div>
                            <div class=" mt-xl-5 d-flex justify-content-end m-auto">
                                <div>
                                    {{ form_row(formLoadDoc.save) }}
                                </div>
                            </div>
                            <div class="mt-4">
                                {{ form_end(formLoadDoc) }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}