
{% set Apps = theme.theme %}
{#{% set renderedField = form_row(formLoadDoc) %}#}
{% block content %}
  {% if  documentIdArtisan is defined %}
    <div class="alert-primary bg-light m-5">
        <h2>Envoyer vos documents</h2>
{#        <div class="col-md-6">#}
{#      form_start()#}
{#      {{ renderedField }}#}
{#      form_end()#}
{#        </div>#}
{#{{ dump(form2.documentsFile) }}#}
{#    {{ dump(formLoadDoc.documentsFile) }}#}
{#    {% if formLoadDoc is defined %}#}

{#      {{ form_widget(formLoadDoc._token) }}#}{# needed if you're using CSRF #}
{#      {{ form_end(formLoadDoc, {'render_rest' : false}) }}#}
{#      {% set documentsFileField = form_widget(formLoadDoc) %}#}
{#      {{ documentsFileField }}#}

{#    {{ dump(formLoadDoc) }}#}

{#    {% endif %}#}
        <div class="bg-light mt-xl-5">

{#            {{ form_start(formLoadDoc) }}#}
{#            {{ form_row(formLoadDoc.documentsFile) }}#}
{#            {{ form_end(formLoadDoc) }}#}
{#{{ dump(formLoadDoc) }}#}
        </div>
{#    </div>#}

{% endif %}
{% endblock %}