{% if news.images.first %}
    {% set image = vich_uploader_asset(news.images.first) %}
    {% set imageTitle = news.images.first.titre %}
{% else %}
    {% set image = asset('assets/images/backgrounds/fond2.png') %}
    {% set imageTitle = 'news image' %}
{% endif %}

<div class="col-xl-8 col-lg-7">
    <div class="news-details__left">
        <div class="news-details__img text-center">
            <img style='max-height: 400px; object-fit: contain' class="" src="{{ image }}" alt="{{ imageTitle }}">
            <div class="news-details__date-box">
                <p>Septembre 2023</p>
            </div>
        </div>
        <div class="news-details__content">
            <h3 class="news-details__title">{{ news.titre1 }}</h3>
            <div class="row news-text">
                {{ news.texte1|raw }}
            </div>
            {# faire un slider avec les images qui reste #}
            <div class="owl-carousel owl-theme">
                {% for imageNews in news.images[1:] %}
                    <div>
                        <img style="object-fit: contain; height: 350px"
                             src="{{ vich_uploader_asset(imageNews) }}"
                             alt="{{ imageNews.titre }}">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="author-one mt-4">
            <div class="author-one__image text-center">
                <img src="{{ asset('assets/images/LOGO_ELODECO_1.png') }}" width="128" alt="logo de l'entreprise">
            </div>
            <div class="author-one__content text-center text-lg-start">
                <h3>Elodie FAIVRE</h3>
                <p>Créatrice et gérante de la société Elo Deco </p>
            </div>
        </div>

        <div class="news-details__bottom">
            <p class="news-details__tags">
                <span>Tags:</span>
                <a href="#">Immobilier</a>
            </p>
        </div>
    </div>
</div>