{%extends '/base.html.twig' %}
{%block content %}

<!--                                             TARIF DETAIL EN FONCTION DU SLUG SERVICE ACTIVE                                     -->

{#{{ dump(service) }}#}
{#{{ dump(service.images) }}#}

{% if service.images %}
    {% set image = vich_uploader_asset(service.images.first) %}
    {% set imageTitle = service.images.first.titre %}
{% else %}
    {% set image = asset('assets/images/backgrounds/fond2.png') %}
    {% set imageTitle = 'news image' %}
{% endif %}

<div class="col-xl-8 col-lg-7">
    <div class="news-details__left">
        <div class="news-details__img text-center">
            <img style='max-height: 400px; object-fit: contain' class="" src="{{ image }}" alt="{{ imageTitle }}">
            <div class="news-details__date-box">
                <p>Septembre 2023</p>
            </div>
        </div>
        <div class="news-details__content">

            <h3 class="news-details__title">{{ service.titre1 }}</h3>

            <div class="row news-text">
                {{ service.texte1|raw }}
            </div>

        </div>

        <div class="services-details__services-list-box">
            <ul class="services-details__services-list list-unstyled">
                <li><a href="{{ path('app_services_details',{slug: service.slug}) }}">Retour à service détail<span class="icon-right-arrow"></span></a></li>
                <li><a href="{{ path('app_services',{slug: service.slug}) }}">Retour aux offres<span class="icon-right-arrow"></span></a></li>
            </ul>
        </div>


    </div>
</div>
{% endblock %}