

{% block title %}Elo Deco - espace Artisan - liste des projets{% endblock %}
{% block content %}

    <!-- template permettant de séectionner la liste des projets et de faire des recherches -->
<section class="mt-2 row justify-content-center m-auto" style="min-height: 35%">


<!--   retrait du selecteur - utile pour un update des taches par l'artisan?  -->
{#    <div class="dropdown mt-5 bg-secondary">#}
{#        <a class="btn btn-secondary dropdown-toggle" role="button" id="document" data-bs-toggle="dropdown"#}
{#           aria-haspopup="true" aria-expanded="false">#}
{#            Sélection projet#}
{#  'search':valeur      </a>#}
{#    </div>#}
{{ dump(formSearch) }}

    <div class="form-control">
        <i class="fa fa-calendar"></i>
{#        {{ form_label(form.dueDate) }}#}
        {{ form_widget(formSearch.searchValue) }}

{#        <small>{{ form_help(form.dueDate) }}</small>#}
        {{ form_widget(formSearch.recherche) }}
        <div class="form-error">
{#            {{ form_errors(form.dueDate) }}#}
        </div>
    </div>


  <!--bouton search dans twig-->
        <div class="container">
            <div class="row">
                <div class="col-8"></div>
                <div class="col">
                    <div class="row m-auto justify-content-end">
                        <!-- Formulaire de recherche -->
                        <form class="formSearch w-75 "
                              action="{{ path('app_artisan_accueilPjt', { 'id': artisans.id,'projet': 'projet','value': 'ouilll',  }) }}"

                              method="POST">
                            <div class="input-group bg-light  mt-4">
                                <button id="validValue" class="input-group-text icon-magnifying-glass" style="background-color: {{ theme.theme.couleurActuelleBg }}">
                                </button>
                                <textarea id="valueSearch" class="form-control " aria-label="With textarea"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% block list %}
        <!-- rendu du tableau de bord -->
        {% if app.request.attributes.get('_route') == 'app_artisan_accueilPjt' %}
            {% include "contenus/_listePjtArtisans.html.twig" with {'listePjt': listePjt} %}
        {% endif %}
    {% endblock list %}


    {#         <div class="alert-info"> Documents indisponibles pour le moment</div> #}
    {#        {% endif %} #}

</section>

<!--script de recheche de vaur  - search bar -->
    <script>
        let btn = document.querySelector("#validValue");
        btn.addEventListener('click', () => {
        var valeur = document.querySelector('#valueSearch').value;
        });
    </script>

{% endblock %}