

{% block title %}Elo Deco - espace Artisan - liste des projets{% endblock %}
{% block content %}

    <!-- template permettant de séectionner la liste des projets et de faire des recherches -->
<section class="mt-2 row justify-content-center m-auto" style="min-height: 35%">


<!--   retrait du selecteur - utile pour un update des taches par l'artisan?  -->
{#    <div class="dropdown mt-5 bg-secondary">#}
{#        <a class="btn btn-secondary dropdown-toggle" role="button" id="document" data-bs-toggle="dropdown"#}
{#           aria-haspopup="true" aria-expanded="false">#}
{#            Sélection projet#}
{#  'search':valeur      </a>#}
{#    </div>#}

    <div class="container">
        <div class="row">
            <div class="col-8"></div>
            <div class="col">
                <div class="form-control">
                    <i class="fa fa-search-location"></i>
                    {{ form_label(formSearch, 'Saisir un lieu ou un nom de client') }}
                    {{ form_widget(formSearch.searchValue) }}
{#                            <small>{{ form_help(formSearch, 'aide toi') }}</small>#}
                    <div class="contact-page__input-box mt-3">
                        {{ form_widget(formSearch.rechercher, {'attr': {'class': "thm-btn contact-page__btn"}}) }}
                    </div>
{#                        {{ form_widget(formSearch.rechercher,{'attr': {'class': "thm-btn contact-page__btn"}}, {'label': 'Envoyer le message'})) }}#}
                    <div class="form-error">
{#                    {{ form_errors(formSearch, 'erreur de saisie') }}#}
                    </div>
                </div>
            </div>
        </div>
    </div>

<pre>
{#    {{ dump(mavaleur) }}#}
</pre>
{#{{ dump(search) }}#}

    {% block list %}
        <!-- rendu du tableau de bord -->
        {% if app.request.attributes.get('_route') == 'app_artisan_accueilPjt' %}
            {% include "contenus/_listePjtArtisans.html.twig" with {'listePjt': listePjt} %}
        {% endif %}
    {% endblock list %}
    {#         <div class="alert-info"> Documents indisponibles pour le moment</div> #}
    {#        {% endif %} #}
</section>


    {{ form_widget(form3)}}

{% endblock %}












<!--script de recheche de vaur  -    search bar   -   a supprimer lors du refactor-->
{#    <script>#}
{#        let btn = document.querySelector("#validValue");#}
{#        btn.addEventListener('click', () => {#}
{#        var valeur = document.querySelector('#valueSearch').value;#}
{#        });#}
{#    </script>#}

{#  <!--bouton search dans twig  a supprimer lors du refactor-->#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-8"></div>#}
{#                <div class="col">#}
{#                    <div class="row m-auto justify-content-end">#}
{#                        <!-- Formulaire de recherche -->#}
{#                        <form class="formSearch w-75 "#}
{#                              action="{{ path('app_artisan_accueilPjt', { 'id': artisans.id,'projet': 'projet','value': 'ouilll',  }) }}"#}

{#                              method="POST">#}
{#                            <div class="input-group bg-light  mt-4">#}
{#                                <button id="validValue" class="input-group-text icon-magnifying-glass" style="background-color: {{ theme.theme.couleurActuelleBg }}">#}
{#                                </button>#}
{#                                <textarea id="valueSearch" class="form-control " aria-label="With textarea"></textarea>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}