 {% if serviceSlug.images.first %}
    {% set image = vich_uploader_asset(serviceSlug.images.first) %}
    {% set imageTitle = serviceSlug.images.first.titre %}
 {% else %}
    {% set image = asset('assets/images/backgrounds/fond2.png') %}
    {% set imageTitle = 'service image' %}
 {% endif %}

<div class="col-xl-10">
    <div class="news-details__left">
        <div class="news-details__img text-center">
            <img style='max-height: 400px; min-width:80%; object-fit: contain'  src="{{ image }}" alt="{{ imageTitle }}">
            <div class="news-details__date-box">
                <p>{{ serviceSlug.titre2|default('Septembre 2023')}}</p>
            </div>
        </div>
        <div class="news-details__content">
            <h3 class="news-details__title">{{ serviceSlug.titre1|default('Mon offre')}}</h3>
            <div class="row news-text">
                {{ serviceSlug.texte1|raw }}
            </div>
            <div class="owl-carousel owl-theme">
                {% for imageNews in serviceSlug.images[1:] %}
                    <div>
                        <img style="object-fit: contain; height: 350px"
                             src="{{ vich_uploader_asset(imageNews) }}"
                             alt="{{ imageNews.titre }}">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="author-one mt-4">
            <div class="author-one__image text-center">
                <img src="{{ asset('assets/images/LOGO_ELODECO_1.png') }}" width="128" alt="logo de l'entreprise">
            </div>
            <div class="author-one__content text-center text-lg-start">
                <h3>Elodie FAIVRE</h3>
                <p>Créatrice et gérante de la société Elo Deco </p>
            </div>
        </div>

        <div class="news-details__bottom">
            <p class="news-details__tags">
                <span>Tags:</span>
                <a href="#">Immobilier</a>
            </p>
        </div>
    </div>
</div>