{% extends '/base.html.twig' %}
{% set Apps = theme.theme %}

{% block content %}


    <section class="mt-xl-5 flex-row justify-content-center m-auto">
        <div class="mb-5">
            <h5 style="margin-left: 10%">Vos informations personnelles</h5>
        </div>

        <section class="counters-one counters-one-martopminus d-flex row  text-center justify-content-xl-between"
                 style="max-height:100px; padding:30px; margin: 0 10% 0 10%">
            <ul class="portfolio-details__info-list list-unstyled">
                <li>{{ clients.prenom|striptags|default('prénom') }}</li>
                <li>{{ clients.nom|striptags|default('NOM')|upper }}</li>
                <li>{{ 'now'|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</li>
            </ul>
        </section>

        <section class="d-flex col-10 p-4 justify-content-sm-between"
                 style="max-height:50%; padding:30px; margin: 0 10% 0 10%">

            <div class="d-flex justify-content-left row  m-lg-5 align-middle"
                 style="max-width: 70%; background-color:whitesmoke">
                {#            <p class="counter-one__text">Vous contacter</p> #}
                <ul class="pricing-one__checks-list list-unstyled">

                    <li>
                        <div class="pricing-one__checks-icon">
                            <i class="icon-tick"></i>
                        </div>

                        <div class="pricing-one__checks-text-box">
                            <h3 class="odometer" style="color: {{ theme.theme.couleurActuelleBg }}"
                                data-count="{{ clients.numeroRue|striptags|default('77') }}">00</h3>
                            <p class="counter-one__text">n°</p>
                        </div>
                    </li>
                    <li>
                        <div class="pricing-one__checks-icon">
                            <i class="icon-tick"></i>
                        </div>

                        <div class="pricing-one__checks-text-box">
                            <h3 style="color: {{ theme.theme.couleurActuelleBg }}">{{ clients.rue|striptags|default('grande rue') }}</h3>
                            <p class="counter-one__text">rue</p>
                        </div>
                    </li>

                    <li>
                        <div class="pricing-one__checks-icon">
                            <i class="icon-tick"></i>
                        </div>

                        <div class="pricing-one__checks-text-box">
                            <h3 style="color: {{ theme.theme.couleurActuelleBg }}">{{ clients.codePostal|striptags|default('grande rue') }}</h3>
                            <p class="counter-one__text">code postal</p>
                        </div>
                    </li>
                    <li>
                        <div class="pricing-one__checks-icon">
                            <i class="icon-tick"></i>
                        </div>

                        <div class="pricing-one__checks-text-box">
                            <h3 style="color: {{ theme.theme.couleurActuelleBg }}"
                                class="col-12"> {{ clients.localite|striptags|default('grande rue') }}
                            </h3>
                            <p class="counter-one__text">Localité</p>
                        </div>
                    </li>
                </ul>
            </div>

            <!--                                                                  Colonne de droite                                                    -->

            <div class="d-flex justify-content-left row w-50 m-lg-5" style="max-width: 30%">
                {#            <p class="counter-one__text">Vous contacter</p> #}
                <ul class="pricing-one__checks-list list-unstyled">
                    <li>
                        <div class="pricing-one__checks-icon">
                            <i class="icon-tick"></i>
                        </div>

                        <div class="pricing-one__checks-text-box">
                            <h3 class="pricing-one__checks-title"> {{ clients.telFix|striptags|default('03.84....') }}</h3>
                            <p class="pricing-one__checks-text">Téléphone fixe</p>
                        </div>
                    </li>
                    <li>
                        <div class="pricing-one__checks-icon">
                            <i class="icon-tick"></i>
                        </div>

                        <div class="pricing-one__checks-text-box">
                            <h3 class="pricing-one__checks-title"> {{ clients.telPortable|striptags|default('06 07....') }}</h3>
                            <p class="pricing-one__checks-text">Téléphone portable</p>
                        </div>
                    </li>

                    <li>
                        <div class="pricing-one__checks-icon">
                            <i class="icon-tick"></i>
                        </div>

                        <div class="pricing-one__checks-text-box">
                            <h3 class="pricing-one__checks-title"> {{ mail|striptags|default('06 07....') }}</h3>
                            <p class="pricing-one__checks-text">email</p>
                        </div>
                    </li>
                </ul>

            </div>


            {% for message in app.flashes('success') %}
                {% set message = message %}
                <div class="alert alert-success" style="max-height: 100px">
                    {{ message }}
                </div>
            {% endfor %}

        </section>


        <div class="d-flex row-cols-6 justify-content-xl-between">
            <div>
                <a style="padding: 20px; border-radius: 20px ; margin: 40px;color:#FFFFFF;background-color: rgb(115, 115, 115)"
                   class="text-center portfolio-details__info-list list-unstyled alert-info"
                   href="{{ path('app_client_accueil',{ 'id': clients.id}) }}"> <span class="m-2"><<</span>Retour</a>
            </div>

            <div>
                <a style="padding: 20px; border-radius: 20px ; margin: 40px;color:#FFFFFF;background-color: rgb(115, 115, 115)"
                   class=" text-center portfolio-details__info-list list-unstyled alert-info"
                   href="{{ path('app_client_edit',{ 'id': clients.id}) }}">Corriger<span class="m-2">>> </span> </a>
            </div>

        </div>
        <div class="d-flex col-10 justify-content-center m-auto">
            <div style="margin: 5% 10% 5% 10%">

                {% if form is defined %}


                    <section
                            class="counters-one counters-one-martopminus d-flex row  text-center justify-content-xl-between"
                            style="max-height:100px; padding:30px; margin: 10%">

                        <h4 style="text-align: center; color: #FFFFFF">Vous pouvez apporter des modifications</h4>

                    </section>
                    <div>

                    </div>

                    {{ form_start(form) }}

                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>


    </section>




    {#        <div class="d-flex justify-content-left row w-50 m-lg-5"> #}
    {#            #}{#            <p class="counter-one__text">Vous contacter</p> #}
    {#            <ul class="pricing-one__checks-list list-unstyled"> #}
    {#                <li> #}
    {#                    <div class="pricing-one__checks-icon"> #}
    {#                        <i class="icon-tick"></i> #}
    {#                    </div> #}

    {#                    <div class="pricing-one__checks-text-box"style="background-color: #00b3ff"> #}
    {#                        <h3 class="pricing-one__checks-title"> {{ clients.commentaire|striptags|default('a propos de vous')| u.truncate(250,'...',false)}}</h3> #}
    {#                        <p class="pricing-one__checks-text">A propos de vous en quelques mots</p> #}
    {#                    </div> #}
    {#                </li> #}
    {#                <li> #}
    {#                    <div class="pricing-one__checks-icon"> #}
    {#                        <i class="icon-tick"></i> #}
    {#                    </div> #}

    {#                    <div class="pricing-one__checks-text-box" style="background-color: #00b3ff"> #}
    {#                         {{ clients.dateNaissance|default('01/01/..') }} #}
    {#                        <p class="pricing-one__checks-text">Date de naissance</p> #}
    {#                    </div> #}
    {#                </li> #}


    {#            </ul> #}

    {#        </div> #}





    {#    {% if contenu.type =="blogNews" and contenu.publier %} #}
    {#    #}{#                            {% include "contenus/_news.html.twig" with {new: contenu} %} #}
    {#    #}{#                        {% endif %} #}

    {#    {% if categorie == 'bd' %} #}
    {#        {% block bd %}class="active"{% endblock %} #}
    {#    {% else %} #}
    {#        {% block jeunesse %}class="active"{% endblock %} #}
    {#    {% endif %} #}

    {#    {{ dump(form) }} #}






    {#    {{ include('client/_form.html.twig') }} #}




    {#        <li class="counter-one__single"> #}
    {#            <div class="counter-one__icon"> #}
    {#                <span class="icon-architect-5"></span> #}
    {#            </div> #}
    {#            <h3 class="odometer" data-count="{{ blocks.texte1|striptags }}">00</h3> #}
    {#            <p class="counter-one__text">{{ blocks.titre1 }}</p> #}
    {#        </li> #}

{% endblock %}