
{% set Apps = theme.theme %}

{% block content %}
  {% if  documentIdArtisan is defined %}
    <div class="alert-primary mb-5 bg-light">
        <p> Exemple de tableau</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"><i> N°</i></th>
                <th scope="col"><i> Titre du document </i></th>
                {#            <th scope="col">Nom</th> #}
                {#            <th scope="col">-</th> #}
                {#            <th scope="col">-</th> #}
            </tr>
            </thead>
            <tbody>
            {% for key, array in documentIdArtisan %}
                <tr>
                    <th scope="row">{{ key }}</th>
                    <td class="m-lg-5">{{ array['document'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <section class="mt-3">
        <div class="container"> Exemple de card
            <div class="row">
                {% for key, arrayCard in documentIdArtisan %}
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ asset('/assets/images/blog_scandinav.png') }}..." class="card-img-top"
                                     alt="...">
                                <h5 class="card-title"><i>N°{{ key }}</i> {{ arrayCard['document'] }}</h5>
                                {#                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> #}
                                <a href="#" class="btn btn-primary">Visualiser le document</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}