{% extends '/base.html.twig' %}
{% set Apps = theme.theme %}

{% block header %}

{% endblock %}

{% block content %}

    <section
            class="counters-one counters-one-martopminus d-flex row  text-center justify-content-xl-between w-75 m-auto mt-5"
            style="max-height:150px; padding:30px;">
        <ul class="portfolio-details__info-list list-unstyled">
            <li>{{ clients.prenom|striptags|default('Prénom') }}</li>
            <li>{{ clients.nom|striptags|default('NOM')|upper }}</li>
            <li>{{ 'now'|date("d/m/Y", "Europe/Paris") }}</li>
        </ul>
    </section>

    <div class="main-menu__right mb-4">
        <h1 style="color: #FFFFFF">ELO DECO RIOZ </h1>
    </div>

    <section class="contact-page p-0  justify-content-center m-auto">
    <div class="container" style="max-width: 1500px">
    <div class="row" style="margin-left: 0">
    <!--ligne1-->
    <div class="row justify-content-center m-auto">
        <div class="contact-page__title p-0">
            <div class="section-title text-left">
                <span class="section-title__tagline mt-5 mb-2">Espace CLIENT</span>
                <h2 class="section-title__title w-100 ">Mes modifications</h2>
            </div>
        </div>
    </div>
    <!--ligne2-->
    <div class="row justify-content-center m-auto ">
    <!-- colonne gauche data-->
    <div class="col-12 mb-2 p-3">
    {% if form is defined %}
        {{ form_start(form, {attr: {'class': "bite"}}) }}
        <div class="contact-page__left">
            <div class="row mb-1" style="min-width: 340px">
                <div class="col-9 col-lg-2 h-50 p-1">
                    <div class="contact-page__input-box text-truncate p-0">
                        {{ form_row(form.prenom, {'attr': {'class': 'p-2 text-truncate'},'label': 'Prenom' }) }}
                    </div>
                </div>
                <div class="col-9 col-lg-2  p-1">
                    <div class="contact-page__input-box text-truncate p-0">
                        {{ form_row(form.nom, {'attr': {'class': 'p-2'}, 'label': 'Nom' }) }}
                    </div>
                </div>
            </div>

            <div class="row mt-2 justify-content-between">
                <div class="col-5 col-lg-1 contact-page__input-box text-truncate p-1">
                    {{ form_row(form.numero_rue, {'attr': {'class': 'p-2 text-truncate'}, 'label': 'Numéro' }) }}
                </div>
                <div class="col-11 col-lg-3 contact-page__input-box text-truncate  p-1">
                    {{ form_row(form.rue, {'attr': {'class': 'p-2 text-truncate'}, 'label': ' Rue' }) }}
                </div>
                <div class="col-11 col-lg-3 contact-page__input-box text-truncate  p-1">
                    {{ form_row(form.code_postal, { 'attr': {'class': 'p-2 text-truncate'},'label': 'Code postal' }) }}
                </div>
                <div class="col-11 col-lg-4 contact-page__input-box text-truncate  p-1">
                    {{ form_row(form.localite, { 'attr': {'class': 'p-2 text-truncate'},'label': 'Localité' }) }}
                </div>
            </div>

            <div class="row border-bottom mt-2 mb-5" style="min-width: 330px">
                <div class="col-9 col-lg-3 p-1" style="min-width: 140px ">
                    <div class="contact-page__input-box  text-truncate  p-0">
                        {{ form_row(form.tel_portable, {'attr': {'class': 'p-1 text-truncate'}, 'label': 'Portable' }) }}
                    </div>
                </div>
                <div class="col-9 col-lg-3 contact-page__input-box  text-truncate  p-1" style="min-width: 135px">
                    {{ form_row(form.tel_fix, {'attr': {'class': 'p-1 text-truncate'}, 'label': 'Fixe' }) }}
                </div>
            </div>

            <div class="row p-1 ">
                <div class="col-12 col-lg-3 contact-page__input-box">
                    {{ form_row(form.date_naissance, {'attr': {'class': "m-0"}}, {'label': 'Date de naissance'}) }}
                </div>
                <div class="col-12 col-lg-3 row contact-page__input-box bg-white mb-3">
                    {{ form_row(form.statusMarital, { 'label': 'Statut marital' }) }}
                </div>
                <div class="col-12 col-lg-3 row m-0 mb-2 contact-page__input-box bg-white align p-1">
                    {{ form_row(form.prenom_conjoint, {'attr': {'class': 'p-2 text-truncate'}, 'label': 'Prénom conjoint(e)' }) }}
                </div>
                <div class="col-12 col-lg-3 row m-0 mb-2 contact-page__input-box bg-white p-1">
                    {{ form_row(form.nom_conjoint, { 'attr': {'class': 'p-2 text-truncate'},'label': 'Nom conjoint(e)' }) }}
                </div>
            </div>

            <div class="row mt-2 container d-flex justify-content-center m-auto">
                <div class="col-8 contact-page__input-box mt-5 justify-content-center">
                    <a style=";padding: 10px; border-radius: 10px ;color:#FFFFFF;background-color: rgb(115, 115, 115)"
                       class="thm-btn contact-page__btn"
                       href="{{ path('app_client_accueil',{ 'id': clients.id}) }}"> <span
                                class="m-2"><<</span> Retour </a>
                </div>
                <div class="col contact-page__input-box d-flex justify-content-end m-auto mt-5">
                    {{ form_row(form.Valider, {'attr': {'class': "thm-btn contact-page__btn text-truncate"}}, {'label': 'Envoyer le message'}) }}
                </div>
            </div>
            <div class="contact-page__input-box"></div>
            {{ form_end(form) }}
        </div>
        </div>

        <!-- colonne ELO DECO -->
        <div class="contact-page__details p-4 mb-5 mt-5">
            <div class="contact-page__details-shape"
                 style="background-image: url({{ asset('assets/images/shapes/contact-page__details-shape.png') }})">
            </div>
            <p class="contact-page__details-text">Vous pouvez me joindre également par mail ou par téléphone.</p>

            <div class="contact-page__details-contact-info">
                <ul class="list-unstyled contact-page__details-contact-list">
                    <li>
                        <div class="icon">
                            <i class="fas fa-phone-square-alt"></i>
                        </div>
                        <div class="text">
                            <p><a>{{ Apps.telephone|default('06 21 85 33 48') }}</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="text">
                            <p><a>{{ Apps.mail|default('elodiekolly.deco@gmail.com') }}</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="text">
                            <p>{{ Apps.numero_rue|default('') }}  {{ Apps.rue|default('grande rue') }}
                                {{ Apps.code_postal|default('70190') }}  {{ Apps.localite|default('TRESILLEY') }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        </div>
        <!-- fin row principal -->
        </div>
        </section>
    {% endif %}
    <!--                                                                Fin formulaire contact                                                          -->

    <!--                                                                        GOOGLE MAP                                                                                  -->
    <section class="bg-light contact-page-google-map mt-5 w-100 p-5 m-auto align-items-center border">
        <!--                                                                   ifram elo deco                                                                      -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25673.90316580553!2d6.038971473616049!3d47.43852811122367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47929a78f73fbb87%3A0x214ef58707775bbf!2sSur%20la%20Vigne%2C%2070190%20Tr%C3%A9silley!5e0!3m2!1sfr!2sfr!4v1700909448497!5m2!1sfr!2sfr"
                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                class="contact-page-google-map__one" allowfullscreen>
        </iframe>
    </section>

{% endblock %}