{% extends '/base.html.twig' %}
{% set Apps = theme.theme %}

{% block content %}


    <section class="counters-one counters-one-martopminus d-flex row  text-center justify-content-xl-between m-xxl-5"
             style="max-height:100px; padding:30px;">
        <ul class="portfolio-details__info-list list-unstyled">
            <li>{{ artisans.prenomgerant|striptags|default('prénom') }}</li>
            <li>{{ artisans.nomgerant|striptags|default('NOM')|upper }}</li>
            <li>{{ 'now'|date }}</li>
        </ul>
    </section>

    <div class="main-menu__right mb-4">
        <h1 style="color: #FFFFFF">ELO DECO RIOZ </h1>
    </div>


    <section class="contact-page p-0">
        <div class="container" style="max-width: 1500px">
            <div class="row">

                <!--ligne1-->
                <div class="row">
                    <div class="contact-page__title">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Espace PRO</span>
                            <h2 class="section-title__title ">Mes modifications</h2>
                        </div>
                    </div>
                </div>

                <!--ligne2-->
                <div class="row">
                    <!-- colonne gauche data-->
                    <div class="col-9">
                        <div class="contact-page__left">
                            {% if form is defined %}
                            {{ form_start(form, {attr: {'class': "bite"}}) }}

                            <div class="row">
                                        <div class="col-3">
                                            <div class="contact-page__input-box">
                                                {{ form_row(form.raison_sociale, { 'label': 'Raison sociale' }) }}
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="contact-page__input-box">
                                                {{ form_row(form.nom_etablissement, { 'label': 'Etablissement' }) }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="contact-page__input-box">
                                                {{ form_row(form.siret, { 'label': 'SIRET' }) }}
                                            </div>
                                        </div>
                            </div>
                            <div class="row">
                                            <div class="col-3">
                                                <div class="contact-page__input-box">
                                                    {{ form_row(form.prenom_gerant, { 'label': 'Prenom du gérant' }) }}
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="contact-page__input-box">
                                                    {{ form_row(form.nom_gerant, { 'label': 'Nom du gérant' }) }}
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="contact-page__input-box">
                                                    {{ form_row(form.date_naissance, { 'label': 'Date de naissance' }) }}
                                                </div>
                                            </div>
                            </div>
                            <div class="row">
                                       <div class="col-4">
                                                <div class="contact-page__input-box">
                                                    {{ form_row(form.fax, { 'label': 'fax  - M A I L ' }) }}
                                                </div>
                                       </div>
                                       <div class="col">
                                                <div class="contact-page__input-box">
                                                    {{ form_row(form.tel_fixe, { 'label': 'telephone fixe' }) }}
                                                </div>
                                                <div class="contact-page__input-box">
                                                    {{ form_row(form.tel_portable, { 'label': 'telephone portable' }) }}
                                                </div>
                                      </div>
                             </div>

                            <div class="row">
                                        <div class="col-6">
                                            <div class="contact-page__input-box">
                                                {{ form_row(form.numero_rue, { 'label': 'numéro de rue' }) }}
                                            </div>
                                            <div class="contact-page__input-box">

                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="contact-page__input-box">
                                            {{ form_row(form.code_postal, { 'label': 'code postal' }) }}
                                            </div>
                                            <div class="contact-page__input-box">
                                            {{ form_row(form.localite, { 'label': 'Localité' }) }}
                                            </div>
                                        </div>
                            </div>
                            <div class="row">
                                            <div class="col-xl-12">
                                                <div class="contact-page__input-box">

                                                </div>
                                            </div>
                            </div>
                            <div class="contact-page__input-box"> </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!-- colonne droite ELO DECO -->
                    <div class="col">
                        {% else %}
                            <div class="alert alert-success">
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    {{ flashMessage }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="contact-page__details">
                            <div class="contact-page__details-shape"
                                 style="background-image: url({{ asset('assets/images/shapes/contact-page__details-shape.png') }})">
                            </div>
                            <p class="contact-page__details-text">Vous pouvez me joindre également par mail ou par téléphone.</p>

                            <div class="contact-page__details-contact-info">
                                <ul class="list-unstyled contact-page__details-contact-list">
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone-square-alt"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="tel:92-666-888-0000">06 21 85 33 48</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="mailto:needhelp@company.com">elodiekolly.deco@gmail.com></a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">
                                            <p>70190 TRESILLEY, FRANCE.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin row principal -->
            </div>
        </div>
    </section>

<!--                                                                Fin formulaire contact                                                          -->




    {#                                                {{ form_row(form.submit, {'attr': {'class': "thm-btn contact-page__btn"}}, {'label': 'Envoyer le message'}) }}#}



    <!--                                                                        GOOGLE MAP                                                                                  -->
    <section class="contact-page-google-map">

        <!--                                                                   ifram elo deco                                                                      -->


        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25673.90316580553!2d6.038971473616049!3d47.43852811122367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47929a78f73fbb87%3A0x214ef58707775bbf!2sSur%20la%20Vigne%2C%2070190%20Tr%C3%A9silley!5e0!3m2!1sfr!2sfr!4v1700909448497!5m2!1sfr!2sfr"
                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                class="contact-page-google-map__one" allowfullscreen>

        </iframe>



    </section>




























    <section class="mt-2 row justify-content-center m-auto">





        <div class="d-flex col-10 justify-content-center m-auto">
            <div style="margin: 5% 10% 5% 10%">


            </div>
        </div>

                <div class="row-cols-6 d-flex flex-row-reverse bd-highlight mt-5 mb-5">
                    <div>
                        <a style="padding: 20px; border-radius: 20px ; margin: 10px;color:#FFFFFF;background-color: rgb(115, 115, 115)"
                           class="text-center portfolio-details__info-list list-unstyled alert-info"
                           href="{{ path('app_artisan_accueil',{ 'id': artisans.id}) }}"> <span class="m-2"><<</span>Retour</a>
                    </div>

                </div>
    </section>


{% endblock %}