{#{% extends 'base.html.twig' %}#}


{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('assets/css/kitecx.css') }}"/>
<link rel="stylesheet" href="{{ asset('assets/css/kitecx-responsive.css') }}"/>

<link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/css/bootstrap.min.css') }}"/>
{% endblock %}




{% block title %}{% endblock %}

{% block body %}

{#    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>#}

 <div class="container w-25 h-50 d-flex flex-column align-content-center justify-content-center mt-5 m-auto form-control p-3">
     <h1>S'enregistrer</h1>
{#     {'attr': {'class': 'ml-4'}}#}
     <div class="container mt-5">
         <h2>Vous êtes ?</h2>
         <div class="row mt-5">
             <div class="col-6 text-center form-control contact-page__input-box mb-4 "><a href="{{ path('app_register', {'choice':'Client'}) }}"
                                               class="btn bg-info thm-btn contact-page__btn mb-4 mt-4 contact-page__input-box fw-bold border p-5 pt-1 pb-1 ">Client</a></div>
             <div class="col-6 text-center form-control contact-page__input-box mb-4"><a href="{{ path('app_register', {'choice':'Artisan'}) }}"
              class="btn bg-light thm-btn contact-page__btn mb-4 mt-4 contact-page__input-box fw-bold border p-5 pt-1 pb-1">Artisan</a></div>
         </div>

  </div>





 </div>

{% endblock %}
