{% extends 'base.html.twig' %}

{% block content %}

    <!-- Alimentation de la vue par l'entité ABOUT & par les contenus témoignage et nos artisans -->

    {% set Apps=theme.theme %}
    <!-- -Bandeau supérieur   / image de font 1894x359 px -->
    <section class="page-header" style="background-image: url({{ vich_uploader_asset(Apps.image1CarouselHome) }});">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>A propos</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>A propos</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                                                  fin bandeau                                                                    -->


    <!--                                                                  SECTION 1 : SERVICES details  / image 672x713                                                   -->

    <section class="about-company">
        <div class="container">
            <div class="row">
{#                {% for contenu in about %}#}
{#                    {% if contenu.type =="blogAboutConcept" %}#}

                        <div class="col-xl-6">

{#                        {% if contenu.liste is defined %}#}
{#                            {% set clef = contenu.liste %}#}

                            <div class="about-company__img">

{#                                {% if contenu.Images[0] is defined %}#}
{#                                    {% set image = contenu.Images[0] %}#}
                                {% set image = visio.image[0] %}
                                    <img src="{{ vich_uploader_asset(image) }}"
                                         alt="{{ image.titre|default('image') }}">
{#                                {% endif %}#}

                                <div class="about-company__trusted-by">
{#                                    <p>{{ clef[0]|striptags }}</p>#}
{#                                    <span>{{ clef[1]|striptags }}</span>#}
                                    <p>{{ visio.visioarg4}}</p>
                                    <span>{{ visio.visiochiffre2}}%</span>
                                </div>
                            </div>
                            <p class="about-company__text-2 align-text-bottom mt-4 .text-justify" style="max-width:100%; max-height: 350px">
{#                                {{ contenu.texte3 |striptags }}#}
                                {{ visio.visiotexte2 |striptags }}
                            </p>
                            </div>
                            <div class="col-xl-6">
                                <div class="about-company__right">
                                    <div class="section-title text-left">
{#                                        <span class="section-title__tagline">{{ contenu.titre1|striptags }}</span>#}
{#                                        <h2 class="section-title__title">{{ contenu.titre2|striptags }}</h2>#}
                                        <span class="section-title__tagline">{{ visio.visiot1 }}</span>
                                        <h2 class="section-title__title">{{ visio.visiot2 }}</h2>
                                    </div>
                                    <ul class="about-company__points list-unstyled">
{#                                        <li><span>/</span> {{ contenu.texte1 |striptags }}</li>#}
{#                                        <li><span>/</span> {{ contenu.texte2 |striptags }}</li>#}
                                        <li><span>/</span> {{visio.visioarg1 }}</li>
                                        <li><span>/</span> {{ visio.visioarg2}}</li>
                                    </ul>

                                    <div class="about-company__progress">
{#                                        <h4 class="about-company__progress-title">{{ clef[2]|striptags }}</h4>#}
                                        <h4 class="about-company__progress-title">{{ visio.visiot3|striptags  }}</h4>
                                        <div class="bar">
{#                                            <div class="bar-inner count-bar counted"#}
{#                                                 data-percent="{{ clef[3]|striptags }}">#}
                                            <div class="bar-inner count-bar counted"
                                                 data-percent={{ visio.visiochiffre1|striptags }}%>

                                              <div class="count-text">{{ visio.visiochiffre1 |striptags }}%</div>
{#                                                <div class="count-text">{{ clef[3]|striptags }}</div>#}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="about-company__icon-and-text">
                                        <div class="about-company__icon">
                                            <span class="icon-blueprint"></span>
                                        </div>

                                        <div class="about-company__text-box mb-5">
{#                                            <p class="about-company__text">{{ clef[4]|striptags }}</p>#}
                                            <p class="about-company__text" style="vertical-align: center;margin: auto">{{  visio.visioarg4 }}</p>
                                        </div>
                                    </div>
                                    <p class="about-company__text-2 ">{{visio.visiotexte1|striptags }} </p>
                                    <a href="{{ path('app_projets') }}"
                                       class="about-company__btn thm-btn" style="background-color: {{ Apps.couleuractuellebg }}">Mes projets</a>
                                </div>
                            </div>
{#                        {% endif %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
            </div>
        </div>
    </section>
    <!--                                                                                  fin about me                                                                    -->


    <!--                                                                        ABOUT MES PARTENAIRES ET CLIENTS                                                           -->

    <!--                                                                     SECTION  - compteur de chiffre                                                       -->
    <section class="counters-one">
        <div class="counters-one-pattern"
             style="background-image: url(assets/images/pattern/counter-one-pattern.jpg)"></div>
        <div class="container">
            {% for blocks in about %}
                {% if blocks.type =="compteurs" %}

                    <ul class="counters-one__box list-unstyled">
                        <li class="counter-one__single">
                            <div class="counter-one__icon">
                                <span class="icon-architect-4"></span>
                            </div>
                            <h3 class="odometer" data-count="2023">00</h3>
                            <p class="counter-one__text">Le défis</p>
                        </li>
                        <li class="counter-one__single">
                            <div class="counter-one__icon">
                                <span class="icon-architect-5"></span>
                            </div>
                            <h3 class="odometer" data-count="{{ blocks.texte1|striptags }}">00</h3>
                            <p class="counter-one__text">{{ blocks.titre1 }}</p>
                        </li>
                        <li class="counter-one__single">
                            <div class="counter-one__icon">
                                <span class="icon-buildings"></span>
                            </div>
                            <h3 class="odometer" data-count="{{ blocks.texte2 |striptags }}">00</h3>
                            <p class="counter-one__text">{{ blocks.titre2 }}</p>
                        </li>
                        <li class="counter-one__single">
                            <div class="counter-one__icon">
                                <span class="icon-satisfaction"></span>
                            </div>
                            <h3 class="odometer" data-count=" {{ blocks.texte3 |striptags }}">00 ></h3><span
                                    class="text-white">%</span>
                            <p class="counter-one__text">{{ blocks.titre3 }}</p>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <!--                                                                  fin about partenaires  et client                                                        -->

    <!--                                                                              LES EXPERTS                                                                    -->
    <section class="team-one about-page-team">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">{{ visio.expertt1 }}</span>
                <h2 class="section-title__title">{{ visio.expertt2 }}</h2>
            </div>

            <div class="row">
               <!--Ancienne verion avec la distribution dynamique par contenu -->
                {#                    {% for contenus in about %}#}
                {#                    {% if contenus.type =="blogAboutExpert" %}#}
                {#                    {% if contenus.Images[0] is defined %}#}
                {#                    {% set image = contenus.Images[0] %}#}
                {#                    {% endif %}#}
                {#                    {% endif %}#}
                {#                    {% endfor %}#}
                {# https://www.linkedin.com/in/elodie-kolly-a652041b2/?trk=public_profile_samename-profile&originalSubdomain=fr  class="fab fa-linkedin"#}

                <!--Nouvelle verion avec la distribution entité About et les listes json -->
                {% set artisan=visio.listeArtisan %}
                {% set metier=visio.listeT5 %}
                {% set image=visio.image %}
{#                {% set temoignage=visio.listeT5 %}#}
                <!--image artisan 1 -->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="team-one__single">
                        <div class="team-one__img-box">
                            <div class="team-one__img">
                                    <img src="{{ vich_uploader_asset(image[1]) }}"
                                         alt="{{ image[1].titre|default('image') }}" style="width: 330px ; object-fit: contain">
                                    <div class="team-one__social">
                                        <a href="{{ path('app_contact') }}"
                                           class="clr-dri"><img src="{{ asset('assets/images/LOGO_ELODECO_2.png') }}" alt="logo de l'entreprise Elo Deco" style="width: 55px"></a>
                                    </div>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name">{{ artisan['1']|striptags }}</h3>
                            <p class="team-one__title">{{ artisan['2']|striptags }}</p>
                        </div>
                    </div>
                </div>

                <!--image artisan 2 -->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                    <div class="team-one__single">
                        <div class="team-one__img-box">
                            <div class="team-one__img">
                                <img src="{{ vich_uploader_asset(image[2]) }}"
                                     alt="{{ image[2].titre|default('image') }}" style="width: 330px ; object-fit: contain">

                                <div class="team-one__social">
                                    <a href="{{ path('app_contact') }}"
                                       class="clr-dri"><img src="{{ asset('assets/images/LOGO_ELODECO_2.png') }}" alt="logo de l'entreprise Elo Deco" style="width: 55px"></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name">{{ artisan['3']|striptags }}</h3>
                            <p class="team-one__title">{{ artisan['4']|striptags }}</p>
                        </div>
                    </div>
                </div>

                <!--image artisan 3 -->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                    <div class="team-one__single">
                        <div class="team-one__img-box">
                            <div class="team-one__img">
                                <img src="{{ vich_uploader_asset(image[3]) }}"
                                     alt="{{ image[3].titre|default('image') }}" style="width: 330px ; object-fit: contain">

                                <div class="team-one__social">
                                    <a href="{{ path('app_contact') }}"
                                       class="clr-dri"><img src="{{ asset('assets/images/LOGO_ELODECO_2.png') }}" alt="logo de l'entreprise Elo Deco" style="width: 55px"></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one__content">
                            <h3 class="team-one__name">{{ artisan['5']|striptags }}</h3>
                            <p class="team-one__title">{{ artisan['6']|striptags }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms"> </div>
            </div>
        </div>
    </section>

    <!--              PUB EN L :   IMAGE  285x281          -->
    <section class="two-boxes two-boxes-about">
        <div class="container">
            <div class="row">
                <!--Ancienne verion avec la distribution dynamique par contenu -->
{#                {% for contenus in about %}#}
{#                    {% if contenus.type =="blogenL" %}#}
{#                    {% endif %}#}
{#                {% endfor %}   {{ contenus.titre1 |striptags }}   #}

                <div class="col-xl-6 col-lg-6">
                    <div class="two-boxes__single">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="two-boxes__content">
                                    <h2>{{ metier['1']|striptags }}</h2>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="two-boxes__img">
                                    <img src="{{ vich_uploader_asset(image[4]) }}"
                                         alt="{{ image[4].titre|default('image') }}"
                                         style="width: 285px ; object-fit: contain">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="two-boxes__single">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="two-boxes__content">
                                    <h2>{{ metier['2'] |striptags }}</h2>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="two-boxes__img">
                                    <img src="{{ vich_uploader_asset(image[5]) }}"
                                         alt="{{ image[5].titre|default('image') }}"
                                         style="width: 285px ; object-fit: contain">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--      fin pub en L       -->

 <!--             TEMOINS       -->
    <section class="testimonials-one about-page-testimonial">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline"> {{visio.expertt3|default('Votre témoignage...')}}</span>
                <h2 class="section-title__title">{{ visio.expertt4|default('ils en disent..')}} </h2>
            </div>
            <div class="row">
                <div class="col-xl-12" >
                    <div class="testimonials-one__carousel owl-theme owl-carousel ">
                                {% for contenus in about %}
                                    {% if contenus.type =="blogTemoins" %}
                                            <div class="testimonials-one__box">
                                                <div class="testimonials-one__single" style="height: 500px; object-fit: contain">
                                                    <div class="testimonials-one__content">
                                                        <p class="testimonials-one__text">{{ contenus.texte1|striptags|u.truncate(150,'...',false)}}</p>
                                                        <div class="testimonials-one__client-info">
                                                            <div class="testimonials-one__client-img">
                                                                <img src="{{ asset('assets/images/testimonial/testimonials-one__client-img-1.png') }}"
                                                                     alt="temoignage des clients">
                                                            </div>
                                                            <div class="testimonials-one__client-details">
                                                                <h5 class="testimonials-one__client-name">{{ contenus.titre1|striptags}}</h5>
                                                                <p class="testimonials-one__client-title">{{ contenus.titre2|striptags}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                                {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonials One End-->


{% endblock %}
