{% extends 'base.html.twig' %}
{% set Apps= theme.theme %}
{% block content %}

    <!--                                                                   BANDEAU SUPERIEUR    image 1894x359                                                            -->
    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div>
    </div>

    <section class="page-header"
             style="background-image: url({{ vich_uploader_asset(Apps.image1CarouselHome) }});">

        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>Contact</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!--                                                                   Bandeau fin                                                                                 -->
    <!--                                                 Formulaire contact avec rappel de coordonnées à droite                                                        -->

    <div class="text-center justify-content-center w-75 m-auto mt-xl-5">
        <!-- flash message bien parti -->
        {% include "fields/flashMsg.html.twig" %}
    </div>

    <section class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6">
                    <div class="contact-page__title">
                        <div class="section-title text-left">
                            <span class="section-title__tagline mb-2">Prenez contact avec moi</span>
                            <h2 class="section-title__title">Envoyez-moi un message</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="contact-page__top-text-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-4">
                    <div class="contact-page__left">
                        {#                        {% if not message_send %} #}
                        <div class="row" style="min-width: 320px">
                            <div class="col-xl-10">
                                {{ form_start(form, {attr: {'class': "bite"}}) }}
                                <div class="row">
                                    <div class="col-xl-8">
                                        <div class="contact-page__input-box">
                                            {{ form_row(form.prenom, { 'label': 'prenom' }) }}
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="contact-page__input-box">
                                            {{ form_row(form.nom, { 'label': 'nom' }) }}
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="contact-page__input-box">
                                            {{ form_row(form.email, { 'label': 'mail' }) }}
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="contact-page__input-box">
                                            {{ form_row(form.telephone, { 'label': 'telephone' }) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12" style="min-width: 320px">
                                            <div class="contact-page__input-box">
                                                {{ form_row(form.sujet, { 'label': 'sujet' }) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-xl-12">
                                            <div class="contact-page__input-box" style="min-width: 290px">
                                                {{ form_row(form.message, { 'label': 'message' }) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row     ">
                                        <div class="col-xl-12">
                                            <div class="contact-page__input-box" style="min-width: 290px">
                                                {{ form_row(form.submit, {'attr': {'class': "thm-btn contact-page__btn"}}, {'label': 'Envoyer le message'}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-page__input-box">
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3">

                    {#                    {% else %} #}
                    {#                        <div class="alert alert-success"> #}
                    {#                            {% for flashMessage in app.session.flashbag.get('success') %} #}
                    {#                                {{ flashMessage }} #}
                    {#                            {% endfor %} #}
                    {#                        </div> #}
                    {#                    {% endif %} #}
                    <div class="contact-page__details">
                        <div class="contact-page__details-shape"
                             style="background-image: url({{ asset('assets/images/shapes/contact-page__details-shape.png') }})">
                        </div>
                        <p class="contact-page__details-text">Vous pouvez me joindre également par mail ou par
                            téléphone.</p>

                        <div class="contact-page__details-contact-info">
                            <ul class="list-unstyled contact-page__details-contact-list">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone-square-alt"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ Apps.telephone }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text p-1" style="min-width: 300px">
                                        <p>{{ Apps.mail }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ Apps.rue }} {{ Apps.localite }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-page__details-social">
                            <a href="{{ Apps.linkedIn }}" target="_blank" class="clr-fb"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="{{ Apps.facebook }}" class="clr-fb"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                Fin formulaire contact                                                          -->


    <!--                                                                        GOOGLE MAP                                                                                  -->
    <section class="contact-page-google-map">

        <!--                                                                   ifram elo deco                                                                      -->


        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25673.90316580553!2d6.038971473616049!3d47.43852811122367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47929a78f73fbb87%3A0x214ef58707775bbf!2sSur%20la%20Vigne%2C%2070190%20Tr%C3%A9silley!5e0!3m2!1sfr!2sfr!4v1700909448497!5m2!1sfr!2sfr"
                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                class="contact-page-google-map__one" allowfullscreen>

        </iframe>


    </section>
    <!--                                                                        fin Google Map                                                                 -->

{% endblock %}
