{% extends 'base.html.twig' %}

{% set Apps=theme.theme %}

{% block title %}Elo Deco: espace Client {% endblock %}

{% block header %}

{% endblock %}

{% block content %}

    <!--                                                                   BANDEAU SUPERIEUR    image 1894x359                                                            -->
    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div>
    </div>
    {% set image1 = Apps.image1CarouselHome %}

    <section class="page-header mb-2" style="background-image: url({{ vich_uploader_asset(image1) }});">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>ESPACE CLIENT</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>{{ clients.prenom }}  {{ clients.nom }}</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                                   Bandeau fin                                                                                 -->

    <!--                                                                   plan médian                                       -->
    <section class="contact-page border-bottom mb-1 mt-4 pb-2 pt-0">
    <div class="container m-auto" style="max-width: 1500px">
    <div class="row m-1">
    <div class="row">
        <div class="col">
            <div class="col-xl-7 col-lg-6">
                <div class="contact-page__title">
                    <div class="section-title text-left mb-0">
                        <span class="section-title__tagline mt-5">Espace Client</span>
                        {#                        <h2 class="section-title__title">CLIENT</h2> #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header : 1 pour l'artisan et 1 pour le client car les href sont adaptés -->
    <div class="p-1">
        {% include "_partial/_header_EspaceClient.html.twig" %}
    </div>

    <!--  Datas des user  -->
    {% block body %}
        <!--colonne de droite  -->
        <div class="col bg-light mb-5">
            <!-- Image avant affichage des données -->
            <div class="mt-2 m-auto justify-content-center">
                {% set image1 = Apps.image1CarouselHome %}
                <img src="{{ vich_uploader_asset(image1) }}"
                     alt="{{ image1.titre|default('image') }}" style="width: 100%">
            </div>

            <!--flash message absence de document ou de projet-->
            {% include "fields/flashMsg.html.twig" %}

            {% if app.request.attributes.get('_route') == 'app_client_show' or app.request.attributes.get('_route') == 'app_client_accueil' %}
                {% include "contenus/_coordonneesClients.html.twig" %}
            {% endif %}

            {% if app.request.attributes.get('_route') == 'app_client_accueilDoc' %}
                {% include "contenus/_documentClients.html.twig" %}
            {% endif %}


            {% if app.request.attributes.get('_route') == 'app_client_accueilPjt' %}
                {% include "contenus/_projetClients.html.twig" %}
            {% endif %}

            {#           A voir : error template  {% if not ... %} #}
            {#                  <div class="alert-info"> rien à voir</div> #}
            {#                  {% endif %} #}

            {#           A voir : is granted          <div>Vous n'avez pas accès à cet espace - contactez l'administrateur</div> #}
            {#                  {% endif %}    {{ is_granted() }} #}
            {#                  {% endif %} #}

            <div class=" raw mt-5 mt-5 mb-5 bg-dark">
                <h2 style="color: #FFFFFF;text-align: center">Elo Deco - Rioz </h2>
            </div>
        </div>
        </div>
        </div>

        </section>
    {% endblock %}
    <!--          GOOGLE MAP        -->
    <section class="contact-page-google-map mb-5">
        <div class="container d-flex justify-content-center">

            <div class=" col-2"></div>

            <div class="col bg-light border-top p-5 mt-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25673.90316580553!2d6.038971473616049!3d47.43852811122367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47929a78f73fbb87%3A0x214ef58707775bbf!2sSur%20la%20Vigne%2C%2070190%20Tr%C3%A9silley!5e0!3m2!1sfr!2sfr!4v1700909448497!5m2!1sfr!2sfr"
                        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        class="contact-page-google-map__one" allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
    {#    <!--   fin Google Map    --> #}

{% endblock %}
