{% extends 'base.html.twig' %}

{% set Apps=theme.theme %}

{% block title %}Elo Deco: espace Client {% endblock %}

{% block header %}

{% endblock %}

{% block content %}

    <!--                                                                   BANDEAU SUPERIEUR    image 1894x359                                                            -->
    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div>
    </div>
    {% set image1 = Apps.image1CarouselHome %}

    <section class="page-header mb-2" style="background-image: url({{ vich_uploader_asset(image1) }});">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>ESPACE CLIENT</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>{{ clients.prenom }}  {{ clients.nom }}</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                                   Bandeau fin                                                                                 -->

    <div class=" col-lg-10" style="margin:5px 0 5px 5%">
    </div>

    <!--                                                                   plan médian                                       -->
    <section class="contact-page border-bottom mb-1 mt-5 pb-2 pt-0">
    <div class="container m-auto" style="max-width: 1500px">
    <div class="row">
    <div class="row">
        <div class="col">
            <div class="col-xl-7 col-lg-6">
                <div class="contact-page__title">
                    <div class="section-title text-left mb-0">
                        <span class="section-title__tagline">Espace Client</span>
                        <h2 class="section-title__title">CLIENT</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <!--colonne gauche-->
    <div class="col-2 h-100">
        <div class="contact-page__details p-4">
            <div class="contact-page__details-shape"
                 style="background-image: url({{ asset('assets/images/shapes/contact-page__details-shape.png') }})">
            </div>
            <p class="contact-page__details-text">Vous pouvez me joindre également par mail ou par
                téléphone.</p>

            <div class=" mt-5 mb-5 col offcanvas offcanvas-start"
                 style="background-color:lightgrey" tabindex="-1"
                 id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
                <div class="offcanvas-header">
                    <h3 class="mt-1 mb-1 offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h3>
                </div>
            </div>
            {#                                                {% if artisans is defined %} #}
            <div class="contact-page__details-contact-info">
                <div class="row">
                    <!--Menu   -->
                    <!--Gauche -->
                    <div class="offcanvas-body px-0">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start"
                            id="menu">

                            <li class="nav-item">
                                <a href="{{ path('app_client_show',{ 'id': clients.id}) }}"
                                   class="nav-link text-truncate">
                                    <i class="fs-5 bi-house"></i><span
                                            class="ms-1 d-none d-sm-inline">Coordonnées</span>
                                </a>

                                {#     essai condition sur variable              {% else %} #}
                                {#                                               {% set artisans = polo %} #}
                                {#                                                <a href="{{ path('app_artisan_... #}
                                {#                                                {% endif %} #}

                            </li>

                            <li>
                                <a href="{{ path('app_client_accueilDoc', { 'id': clients.id, 'doc': 'doc' }) }}"
                                   class="nav-link text-truncate">
                                    <i class="fs-5 bi-speedometer2"></i><span
                                            class="ms-1 d-none d-sm-inline">Documents</span>
                                </a>
                            </li>


                            <li>
                                <a href="{{ path('app_client_accueilPjt', { 'id': clients.id,'projet': 'projet','value': 'value' }) }}"
                                   class="nav-link text-truncate">
                                    <i class="fs-5 bi-grid"></i><span
                                            class="ms-1 d-none d-sm-inline">Projet</span></a>
                            </li>
                            {#                            <li> #}
                            {#                                <a href="{{ path('app_contact') }}" class="nav-link text-truncate mb-6"> #}
                            {#                                    <i class="fs-5 bi-table"></i><span #}
                            {#                                            class="ms-1 d-none d-sm-inline">Contact</span></a> #}
                            {#                            </li> #}
                            <li>
                                <a href="{{ path('app_logout') }}" class="nav-link text-truncate mb-6">
                                    <i class="fs-5 bi-table"></i><span
                                            class="ms-1 d-none d-sm-inline">Déconnecter</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fin colonne gauche -->
    {% block body %}
        <!--colonne de droite  -->
        <div class="col bg-light mb-5">
            <!-- Image avant affichage des données -->
            <div class="mt-2 m-auto justify-content-center">
                {% set image1 = Apps.image1CarouselHome %}
                <img src="{{ vich_uploader_asset(image1) }}"
                     alt="{{ image1.titre|default('image') }}" style="width: 100%">
            </div>
            {#                        {{ dump(listDoc) }} #}

            <!--flash message absence de document ou de projet-->
            {% include "fields/flashMsg.html.twig" %}


            {% if app.request.attributes.get('_route') == 'app_client_show' or app.request.attributes.get('_route') == 'app_client_accueil' %}
                {% include "contenus/_coordonneesClients.html.twig" %}
            {% endif %}

            {#            {% include "contenus/_coordonneesClients.html.twig" %} #}


            {% if app.request.attributes.get('_route') == 'app_client_accueilDoc' %}
                {% include "contenus/_documentClients.html.twig" %}
            {% endif %}



            {% if app.request.attributes.get('_route') == 'app_client_accueilPjt' %}
                {% include "contenus/_projetClients.html.twig" %}
            {% endif %}



            {#           A voir : error template  {% if not ... %} #}
            {#                  <div class="alert-info"> rien à voir</div> #}
            {#                  {% endif %} #}

            {#           A voir : is granted          <div>Vous n'avez pas accès à cet espace - contactez l'administrateur</div> #}
            {#                  {% endif %}    {{ is_granted() }} #}
            {#                  {% endif %} #}

            <div class=" raw mt-5 mt-5 mb-5 bg-dark">
                <h2 style="color: #FFFFFF;text-align: center">Elo Deco - Rioz </h2>
            </div>
        </div>
        </div>
        </div>
        </div>
        </section>
    {% endblock %}
    <!--          GOOGLE MAP        -->
    <section class="contact-page-google-map mb-5">
        <div class="container d-flex justify-content-center">

            <div class=" col-2"></div>

            <div class="col bg-light border-top p-5 mt-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25673.90316580553!2d6.038971473616049!3d47.43852811122367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47929a78f73fbb87%3A0x214ef58707775bbf!2sSur%20la%20Vigne%2C%2070190%20Tr%C3%A9silley!5e0!3m2!1sfr!2sfr!4v1700909448497!5m2!1sfr!2sfr"
                        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        class="contact-page-google-map__one" allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
    <!--   fin Google Map    -->

{% endblock %}
