{% extends 'base.html.twig' %}

{% block content %}
<!--                                                                                  BANDEAU SUPERIEUR    image 1894x359                                                            -->
<div class="page-wrapper">

    <section class="main-slider main-slider-two">
        <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
    "effect": "fade",

     "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
      },

    "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
    },
    "autoplay": {
        "delay": 5000
    }}'>
            <!--                        HOME - SECTION 1 -  SLIDER PRINCIPAL - Background - 3 PHOTOS 1894X822  &  3 slogans                  -->

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(assets/images/backgrounds/fond2.png);">
                    </div>
                    <div class="main-slider_border"></div>
                    <div class="main-slider_border main-slider_border-two"></div>
                    <div class="main-slider_border main-slider_border-three"></div>
                    <div class="main-slider_border main-slider_border-four"></div>
                    <div class="main-slider_border main-slider_border-five"></div>
                    <div class="main-slider_border main-slider_border-six"></div>

                    <div class="image-layer-overlay"></div>
                    <!-- /.image-layer -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="main-slider__content">
                                    <h2>Elo deco <br> Un savoir faire</h2>
                                    <a href="{{ path('app_about') }}" class="cta-one__btn thm-btn">A propos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(assets/images/backgrounds/fond2.png);">
                    </div>
                    <div class="main-slider_border"></div>
                    <div class="main-slider_border main-slider_border-two"></div>
                    <div class="main-slider_border main-slider_border-three"></div>
                    <div class="main-slider_border main-slider_border-four"></div>
                    <div class="main-slider_border main-slider_border-five"></div>
                    <div class="main-slider_border main-slider_border-six"></div>

                    <div class="image-layer-overlay"></div>
                    <!-- /.image-layer -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="main-slider__content">
                                    <h2>ELO DECO <br> Honnêteté</h2>
                                    <a href="{{ path('app_about') }}" class="cta-one__btn thm-btn">A propos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(assets/images/backgrounds/fond2.png);">
                    </div>
                    <div class="main-slider_border"></div>
                    <div class="main-slider_border main-slider_border-two"></div>
                    <div class="main-slider_border main-slider_border-three"></div>
                    <div class="main-slider_border main-slider_border-four"></div>
                    <div class="main-slider_border main-slider_border-five"></div>
                    <div class="main-slider_border main-slider_border-six"></div>

                    <div class="image-layer-overlay"></div>
                    <!-- /.image-layer -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="main-slider__content">
                                    <h2>ELO DECO <br> Créativité à votre écoute</h2>
                                    <a href="{{ path('app_about') }}" class="cta-one__btn thm-btn">A propos de moi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--navigation buttons -->
            <div class="swiper-pagination" id="main-slider-pagination"></div>
            <div class="main-slider__nav-two">
                <div class="swiper-button-prev" id="main-slider__swiper-button-next"><i
                            class="icon-right-arrow icon-left-arrow"></i>
                </div>
                <div class="swiper-button-next" id="main-slider__swiper-button-prev"><i
                            class="icon-right-arrow"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- fin section 1 -->

    <!--                                 HOME - SECTION 2 - ACTIVTES DE L'ENTREPRISE AU NOMBRE DE 3                              -->

    <section class="steps">
        <div class="container">
            <div class="steps__inner">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <!--Steps Single-->
                        <div class="steps__single">
                            <div class="steps__icon">
                                <span class="icon-architect"></span>
                                <div class="steps__count">
                                </div>
                            </div>
                            <div class="steps__text">
                                <h4>Décoration <br> Ambiance & agrément</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--Steps Single-->
                        <div class="steps__single">
                            <div class="steps__icon">
                                <span class="icon-architect-1"></span>
                                <div class="steps__count">
                                </div>
                            </div>
                            <div class="steps__text">
                                <h4>Plan 3D <br> Espaces intérieurs</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--Steps Single-->
                        <div class="steps__single">
                            <div class="steps__icon">
                                <span class="icon-architect-2"></span>
                                <div class="steps__count">
                                </div>
                            </div>
                            <div class="steps__text">
                                <h4>Gestion <br> de projet</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Steps End-->

    <!--Cta One Start-->
    <section class="cta-one">
        <div class="cta-one-pattern" style="background-image: url(assets/images/pattern/cta-one-pattern.jpg)"></div>
        <div class="container">
            <div class="cta-one__inner">
                <div class="cta-one__content">
                    <h2 class="cta-one__text">Décoration, agencements, création de gites, immobilier ...</h2>
                </div>
                <div class="cta-one__btn-box">
                    <a href="{{ path('app_portfolio') }}" class="cta-one__btn thm-btn">Nos projets</a>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                  fin section 2                                                 -->


    <!--                                       HOME - SECTION  3 - PLANS 3D  - image ressources/ img1: 513x513  img2: 290x303           -->

    <section class="welcome-two">
        <div class="welcome-two-bg" style="background-image: url(assets/images/backgrounds/welcome-two-bg.png)">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="welcome-two__left">
                        <div class="welcome-two__img">
                            <img src="assets/images/resources/projet_indus.png" width="513"
                                 alt="plan 3D représentant un comble aménagé en espace de vie avec cuisine et table">
                            <div class="welcome-two__img-shape-1"></div>
                            <div class="welcome-two__img-shape-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="welcome-two__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">A propos d'ELODECO</span>
                            <h2 class="section-title__title">Nous apportons notre savoir faire en création d'espace</h2>
                        </div>
                        <p class="welcome-two__text">Il y a une multitude de moyens pour valoriser votre intérieur</p>
                        <div class="welcome-two__icon-box">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="welcome-two__icon-box-img">
                                        <img src="assets/images/resources/archi-slider-3.png" width="350"
                                             alt="photo rectangulaire taille moyenne d'une cheminée avec un buche en feu et un décor forestier en arrière plan">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="welcome-two__icon-list-box">
                                        <ul class="welcome-two__icon-list list-unstyled">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-measure"></span>
                                                </div>
                                                <div class="text-box">
                                                    <p>Une multitude de possibilités dans les volumes et les
                                                        matériaux.</p>
                                                </div>
                                            </li>
                                            <li>

                                                <div class="icon">
                                                    <span class="icon-blueprint"></span>
                                                </div>
                                                <div class="text-box">
                                                    <p>L'éclairage et la disposition des agencements créés un volume
                                                        nouveau .</p>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                       fin section 3                                           -->

    <!--                                       HOME - SECTION 4 - PLANS 3D  - image Ressources/ img1: 513x513  img2: 290x303           -->

    <section class="services-two">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Nous vous offrons</span>
                        <h2 class="section-title__title">Des services profesionnels</h2>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="services-two__top-text-box">
                        <p class="services-two__top-text">Pour chaque projet, nous partons d'un cahier des charges, de
                            plans, de métrés, de devis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-duration="1500ms">
                    <!--1er service-->
                    <div class="services-two__single">
                        <div class="services-two__single-bg"
                             style="background-image: url(assets/images/services/services-two__single-bg.png)"></div>
                        <div class="services-two__icon">
                            <span class="icon-house-design"></span>
                        </div>
                        <h2 class="services-two__title"><a href="services-details.html">Design & Planning</a></h2>
                        <p class="services-two__text-2">Sur la base des nos plans, nos artisans s'entendent pour tenir
                            les délais et les coûts.</p>
                        <a href="{{ path('app_services_details') }}" class="services-one__btn services-two__btn">En
                            savoir plus</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">

                    <!--second service-->
                    <div class="services-two__single">
                        <div class="services-two__single-bg"
                             style="background-image: url(assets/images/services/services-two__single-bg.png)"></div>
                        <div class="services-two__icon">
                            <span class="icon-kitchen"></span>
                        </div>
                        <h2 class="services-two__title"><a href="services-details.html">Home staging & Décoration</a>
                        </h2>
                        <p class="services-two__text-2">Des volumes, un éclairage, des couleurs et des matières.</p>
                        <a href="{{ path('app_services_details') }}" class="services-one__btn services-two__btn">En
                            savoir plus</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="200ms">

                    <!-3ème service-->
                    <div class="services-two__single">
                        <div class="services-two__single-bg"
                             style="background-image: url(assets/images/services/services-two__single-bg.png)"></div>
                        <div class="services-two__icon">
                            <span class="icon-architect-3"></span>
                        </div>
                        <h2 class="services-two__title"><a href="services-details.html">Exterior Design</a></h2>
                        <p class="services-two__text-2">Lorem ipsum dolor sit amet, consectetur notted adipisicing
                            lipsim elit sed do.</p>
                        <a href="services-details.html" class="services-one__btn services-two__btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--fin section 4-->

    <!--                     SECTION 5 LES PROJETS - PHOTOS SOUS /PROJECTS 4 unités 473x473 et 2 en 948x473 px-->

    <section class="project-two">
        <div class="project-two__container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Ce que nous avons fait</span>
                <h2 class="section-title__title">Nos derniers projets</h2>
            </div>
            <div class="row masonary-layout">

                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="project-two__single">
                        <div class="project-two__img">
                            <img src="assets/images/project/nuancierMini.jpg" alt="nuancier de couleurs">
                            <div class="project-two__architect">
                                <p>Rafraichissement et remise à neuf</p>
                                <h3><a href="portfolio-details.html">Nuances de vie</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="project-two__single">
                        <div class="project-two__img">
                            <img src="assets/images/project/plan2D.png"
                                 alt="plan 2D d'un sous-sol avec nouveaux aménagements, table de cuisson, table et chaises">
                            <div class="project-two__architect">
                                <p>Plan d'un aménagement de sous-sol</p>
                                <h3><a href="portfolio-details.html">Maison années 1960 à rénover</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="project-two__single">
                        <div class="project-two__img">
                            <img src="assets/images/project/salledebainPetit.jpg"
                                 alt="image salle de bain contemporaine avec douche et baignoire, ambiance claire, blanc">
                            <div class="project-two__architect">
                                <p>Salle de bain</p>
                                <h3><a href="portfolio-details.html">Salle de bain élégante</a></h3>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="project-two__single">
                        <div class="project-two__img">
                            <img src="assets/images/project/extensoinboisPetit.jpg"
                                 alt="extension bois avec poele, intérieur chic mais simple en matériaux nobles">
                            <div class="project-two__architect">
                                <p>Extension bois avec poële </p>
                                <h3><a href="portfolio-details.html">Extension bois</a></h3>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="project-two__single">
                        <div class="project-two__img">
                            <img src="assets/images/project/sejourMini.jpg"
                                 alt="photo sejour ancien rénové, murs blancs et sol bois avec corniche au plafond">
                            <div class="project-two__architect">
                                <p>Séjour avec une nuance de modernité</p>
                                <h3><a href="portfolio-details.html">Rafraichissement salon ancien</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="project-two__single">
                        <div class="project-two__img">
                            <img src="assets/images/project/decorationMini.jpg"
                                 alt="photo d'objet de décoration de couleur rose devant un mur gris clair">
                            <div class="project-two__architect">
                                <p>Décoration</p>
                                <h3><a href="portfolio-details.html">Simplement beau</a></h3>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--                                                Fin section projets                                                         -->


    <!--                                            SECTION 6 - compteur de chiffre                                                       -->


    <section class="counters-one counters-one-martopminus">
        <div class="counters-one-pattern"
             style="background-image: url(assets/images/pattern/counter-one-pattern.jpg)"></div>
        <div class="container">
            <ul class="counters-one__box list-unstyled">
                <li class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-architect-4"></span>
                    </div>
                    <h3 class="odometer" data-count="2023">00</h3>
                    <p class="counter-one__text">Le défis</p>
                </li>
                <li class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-architect-5"></span>
                    </div>
                    <h3 class="odometer" data-count="50">00</h3>
                    <p class="counter-one__text">Des partenaires</p>
                </li>
                <li class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-buildings"></span>
                    </div>
                    <h3 class="odometer" data-count="3">00</h3>
                    <p class="counter-one__text">3 niveaux de service</p>
                </li>
                <li class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-satisfaction"></span>
                    </div>
                    <h3 class="odometer" data-count="100">00 ></h3><span class="text-white">%</span>
                    <p class="counter-one__text">Clients satisfaits</p>
                </li>
            </ul>
        </div>
    </section>
    <!--                                            fin section 6                                              -->


    <!--                                   SECTION 7  : offre sur mesure                                      -->

    <section class="pricing-one">
        <div class="container">
            <div class="pricing-tabs">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Etablissement du budget</span>
                            <h2 class="section-title__title">Choisissez votre offre et vos options</h2>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="pricing-one__content">
                            <p class="pricing-one__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                volutpat.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="pricing-one__left">
                            <ul class="pricing-one__points list-unstyled">
                                <li><span>/</span> La meilleure solution</li>
                                <li><span>/</span> Une expertise à vos côtés</li>
                            </ul>
                            <ul class="pricing-one__checks-list list-unstyled">
                                <li>
                                    <div class="pricing-one__checks-icon">
                                        <i class="icon-tick"></i>
                                    </div>
                                    <div class="pricing-one__checks-text-box">
                                        <h3 class="pricing-one__checks-title">Epures</h3>
                                        <p class="pricing-one__checks-text">De l'idée principale aux objectifs à
                                            atteindre.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="pricing-one__checks-icon">
                                        <i class="icon-tick"></i>
                                    </div>
                                    <div class="pricing-one__checks-text-box">
                                        <h3 class="pricing-one__checks-title">Plan 3D</h3>
                                        <p class="pricing-one__checks-text">L'idée devient progressivement une réalité.
                                            L'expérience 3D permet déjà
                                            de se projeter dans votre future habitation</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="pricing-one__checks-icon">
                                        <i class="icon-tick"></i>
                                    </div>
                                    <div class="pricing-one__checks-text-box">
                                        <h3 class="pricing-one__checks-title">Assistance</h3>
                                        <p class="pricing-one__checks-text">Des artisans séléctionnés pour leurs
                                            compétences et leur savoir-être réponderont à votre demande.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="pricing-one__table-box">
                            <div class="pricing-one__right">

                                <div class="pr-content">

                                    <div class="pr-tab active-tab" id="tab-2">
                                        <div class="pricing-one__table-box-single">
                                            <div class="pricing-one__table">
                                                <div class="pricing-one__rate-box">
                                                    <h2><span class="pricing-one__dolar">€</span>Tarif <span>/
                                                                sur demande</span></h2>
                                                </div>
                                                <div class="pricing-one__details-box">
                                                    <h3 class="pricing-one__details-title"> Offre complète</h3>
                                                    <ul class="list-unstyled">
                                                        <li>Etude de votre demande</li>
                                                        <li>Plan 3D</li>
                                                        <li>Proposition & solutions</li>
                                                        <li>Selection des offres</li>
                                                        <li>Engagement</li>
                                                    </ul>
                                                </div>
                                                <div class="pricing-one__btn-box">
                                                    <a href="{{ path('app_contact') }}"
                                                       class="pricing-one__btn thm-btn">Contactez moi</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pr-tab " id="tab-1">
                                        <div class="pricing-one__table-box-single">
                                            <div class="pricing-one__table">
                                                <div class="pricing-one__rate-box">
                                                    <h2><span class="pricing-one__dolar">€</span>450<span>/
                                                                forfait</span></h2>
                                                </div>
                                                <div class="pricing-one__details-box">
                                                    <h3 class="pricing-one__details-title">Forfait de base</h3>
                                                    <ul class="list-unstyled">
                                                        <li>Visualisation 3D</li>
                                                        <li>Modification</li>
                                                        <li>Choix de matériaux</li>
                                                        <li>Couleur et éclairage</li>
                                                    </ul>
                                                </div>
                                                <div class="pricing-one__btn-box">
                                                    <a href="{{ path('app_contact') }}"
                                                       class="pricing-one__btn thm-btn">Contactez moi</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                             fin section 7                               -->


    <!--                                                SECTION 8 : confiance                                     -->

    <section class="trust-experts">
        <div class="trust-experts-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
             style="background-image: url(assets/images/project/plan2D.png)"></div>
        <div class="container">
            <div class="trust-experts__inner">
                <h2 class="trust-experts__text">Le choix de l'expert <br> une valeur sûre</h2>
                <a href="{{ path("app_about") }}" class="trust-experts__btn thm-btn">A propos</a>
            </div>
        </div>
    </section>
    <!--                                                    fin section 8                                            -->


    <!--                                                     SECTION 9  : MA SECLECTION  photos 370x290                                               -->


    <section class="news-one">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">Nouvelles & tendances</span>
                <h2 class="section-title__title">Ma sélection</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <!--                                                PREMIERE       NEWS 1                                           -->
                    {% include "contenus/_blog.html.twig" %}

{#                    <div class="news-one__single">#}
{#                        <div class="news-one__img-box">#}
{#                            <div class="news-one-img">#}
{#                                <img src="assets/images/blog/travauxReno.png"#}
{#                                     alt="bache au sol, escabeau et mur en attente de peinture">#}
{#                                <a href="{{ path('app_news_details')}}">#}
{#                                    <span class="news-one__plus"></span>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="news-one__date-box">#}
{#                                <p>Début septembre</p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="news-one__content">#}
{#                            #}{#                                <ul class="list-unstyled news-one__meta"> #}
{#                            #}{#                                    <li><a href="news-details.html"><i class="far fa-user-circle"></i> Admin</a></li> #}
{#                            #}{#                                    <li><a href="news-details.html"><i class="far fa-comments"></i> 2 Comments</a> #}
{#                            #}{#                                    </li> #}
{#                            #}{#                                </ul> #}
{#                            <h3 class="news-one__title">#}
{#                                <a href="news-details.html">10 étapes pour se lancer dans la rénovation</a>#}
{#                            </h3>#}
{#                            <p class="news-one__text">Se lancer dans un projet de rénovation peut être passionnant,#}
{#                                mais cela nécessite une planification minutieuse, de bons conseils et des plans 3D!</p>#}
{#                            <a href="{{ path('app_news_details') }}news-details.html" class="news-one__btn">Plus d'articles</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">#}
                    <!--                                                        NEWS 2                                            -->
                    <div class="news-one__single">
                        <div class="news-one__img-box">
                            <div class="news-one-img">
                                <img src="assets/images/blog/noel.png"
                                     alt="image de décorations de noel sur fond blanc">
                                <a href="news-details.html">
                                    <span class="news-one__plus"></span>
                                </a>
                            </div>
                            <div class="news-one__date-box">
                                <p>Décembre 2023</p>
                            </div>
                        </div>
                        <div class="news-one__content">
                            {#                                <ul class="list-unstyled news-one__meta"> #}
                            {#                                    <li><a href="news-details.html"><i class="far fa-user-circle"></i> Admin</a></li> #}
                            {#                                    <li><a href="news-details.html"><i class="far fa-comments"></i> 2 Comments</a> #}
                            {#                                    </li> #}
                            {#                                </ul> #}
                            <h3 class="news-one__title">
                                <a href="news-details.html">Décorations de noël</a>
                            </h3>
                            <p class="news-one__text"> Choisissez un thème pour votre décoration afin de créer une atmosphère harmonieuse. <br>
                                Une décoration plus élaborée dans le salon et plus personnelle dans les chambres
                            </p>
                            <a href="{{ path('app_news_details') }}news-details.html" class="news-one__btn">Plus d'articles</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                    <!--                                                                 NEWS 3                                                          -->

                    <div class="news-one__single">
                        <div class="news-one__img-box">
                            <div class="news-one-img">
                                <img src="assets/images/blog/peinture.png"
                                     alt="pot de peinture qui se verse dans un bac de peintre">
                                <a href="{{ path('app_news_details') }}">
                                    <span class="news-one__plus"></span>
                                </a>
                            </div>
                            <div class="news-one__date-box">
                                <p>Octobre 2023</p>
                            </div>
                        </div>
                        <div class="news-one__content">
                            {#                                <ul class="list-unstyled news-one__meta"> #}
                            {#                                    <li><a href="news-details.html"><i class="far fa-user-circle"></i> Admin</a></li> #}
                            {#                                    <li><a href="news-details.html"><i class="far fa-comments"></i> 2 Comments</a> #}
                            {#                                    </li> #}
                            {#                                </ul> #}
                            <h3 class="news-one__title">
                                <a href="{{ path('app_news_details') }}">Astuces peinture</a>
                            </h3>
                            <p class="news-one__text"> Choisir la bonne peinture peut considérablement influencer l'ambiance et l'apparence de votre espace.
                                Voici quelques astuces pour vous aider à choisir la peinture idéale. Avant de choisir une couleur...
                            </p>
                            <a href="{{ path('app_news_details') }}" class="news-one__btn">Plus d'articles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                        fin section 9                                                    -->

    <!--                                                     SECTION 10 : Client contents   6 /  4 IMGAGES 270X300 + 1MGAGE 156X98                                                         -->

    <section class="they-trusted">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="they-trusted__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Ils m'ont fait confiance</span>
                            <h2 class="section-title__title">Clients satisfaits</h2>
                        </div>
                        <p class="they-trusted__text">En quelques mots voici quelques uns de nos clients </p>
                        <ul class="list-unstyled they-trusted__list">
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text">
                                    <p>Qualité de la relation.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text">
                                    <p>Offre du mesure.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-tick"></span>
                                </div>
                                <div class="text">
                                    <p>Créativité & travail bien fait</Cré>.</p>
                                </div>
                            </li>
                        </ul>
                        <div class="they-trusted__projects-complete">
                            <div class="they-trusted__projects-complete-img">
                                <img src="assets/images/resources/iconeSdb.png"
                                     alt="icone de petite taille de salle de bain rénovée">
                            </div>
                            <div class="they-trusted__projects-complete-count-box">
                                <h3>Multitude</h3>
                                <p class="they-trusted__projects-complete-text">De projets</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="they-trusted__brand">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="they-trusted__brand-single">
                                    <div class="they-trusted__brand-main-img">
                                        <a href="#"> <img src="assets/images/resources/sdb2Petit.png"
                                                          alt="petite salle de bain refaite à neuf avec quelques couleurs sur fond blanc"></a>
                                    </div>
                                    <div class="they-trusted__brand-overly">
                                        <a href="#"><img src="assets/images/resources/sdb2Petit.png"
                                                         alt="overlay petite salle de bain refaite à neuf avec quelques couleurs sur fond blanc"></a>
                                    </div>
                                    <div class="they-trusted__brand-prattern"
                                         style="background-image: url(assets/images/pattern/they-trusted-brand-pattern.png)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="they-trusted__brand-single">
                                    <div class="they-trusted__brand-main-img">
                                        <a href="#"><img src="assets/images/resources/fenetres.png"
                                                         alt="fenetre en pvc posées contre un mur en attendant d'être fixées"></a>
                                    </div>
                                    <div class="they-trusted__brand-overly">
                                        <a href="#"><img src="assets/images/resources/fenetres.png"
                                                         alt="overlay fenetre en pvc posées"></a>
                                    </div>
                                    <div class="they-trusted__brand-prattern"
                                         style="background-image: url(assets/images/pattern/they-trusted-brand-pattern.png)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="they-trusted__brand-single they-trusted__brand-single-mb-0">
                                    <div class="they-trusted__brand-main-img">
                                        <a href="#"> <img src="assets/images/resources/cloison.png"
                                                          alt="fin de pièce débouchant sur couloir en rénovation avec plaque de platre verte"></a>
                                    </div>
                                    <div class="they-trusted__brand-overly">
                                        <a href="#"><img src="assets/images/resources/cloison.png"
                                                         alt="overlay fin de pièce débouchant "></a>
                                    </div>
                                    <div class="they-trusted__brand-prattern"
                                         style="background-image: url(assets/images/pattern/they-trusted-brand-pattern.png)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="they-trusted__brand-single they-trusted__brand-single-mb-0">
                                    <div class="they-trusted__brand-main-img">
                                        <a href="#"><img src="assets/images/resources/carrelage.png"
                                                         alt="motif de carrelage multicolor de petite dimension"></a>
                                    </div>
                                    <div class="they-trusted__brand-overly">
                                        <a href="#"><img src="assets/images/resources/carrelage.png"
                                                         alt="motif de carrelage multicolor de petite dimension"></a>
                                    </div>
                                    <div class="they-trusted__brand-prattern"
                                         style="background-image: url(assets/images/pattern/they-trusted-brand-pattern.png)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--                                   fin section 10 clients satisfaits                                                        -->


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>




    <!--                                                             fin section 7  AVEC CAROUSEL                                                    -->

<section class="pricing-one">
   <div class="container">

             <div class="pricing-tabs">

                <div class="row">
                    <div class="col-xl-6">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Etablissement du budget</span>
                            <h2 class="section-title__title">Choisissez votre offre et vos options</h2>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="pricing-one__content ">
                            <p class="pricing-one__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                volutpat.</p>
                        </div>
                    </div>
                </div>

                <!--                                                            2 MODULES D'OFFRE                                                  -->

                 <!--                                                            OFFRE DE GAUCHE                                                  -->
                <div class="row ">
                    <div class="col-xl-6 mr-5 ">
                        <div class="pricing-one__left ">
                            <ul class="pricing-one__points list-unstyled">
                                <li><span>/</span> La meilleure solution</li>
                                <li><span>/</span> Une expertise à vos côtés</li>
                            </ul>
                            <ul class="pricing-one__checks-list list-unstyled">
                                <li>
                                    <div class="pricing-one__checks-icon">
                                        <i class="icon-tick"></i>
                                    </div>
                                    <div class="pricing-one__checks-text-box">
                                        <h3 class="pricing-one__checks-title">Epures</h3>
                                        <p class="pricing-one__checks-text">De l'idée principale aux objectifs à
                                            atteindre.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="pricing-one__checks-icon">
                                        <i class="icon-tick"></i>
                                    </div>
                                    <div class="pricing-one__checks-text-box">
                                        <h3 class="pricing-one__checks-title">Plan 3D</h3>
                                        <p class="pricing-one__checks-text">L'idée devient progressivement une réalité.
                                            L'expérience 3D permet déjà
                                            de se projeter dans votre future habitation</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="pricing-one__checks-icon">
                                        <i class="icon-tick"></i>
                                    </div>
                                    <div class="pricing-one__checks-text-box">
                                        <h3 class="pricing-one__checks-title">Assistance</h3>
                                        <p class="pricing-one__checks-text">Des artisans séléctionnés pour leurs
                                            compétences et leur savoir-être réponderont à votre demande.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                <!--                                               COLONNE DE DROITE AVEC CAROUSSEL                                                  -->

                    <div class="col-xl-6 ml-5">
                        <div class="pricing-one__table-box ">
                            <div class="pricing-one__right">
                                <div class="pr-content">
                                    <!--                                                       Debut caroussel                                                    -->
                                     <div id="myCarousel" class="carousel slide " data-bs-touch="false">
                                        <div class="carousel-inner ">
                                            <!--                                                        Offre 1                                                     -->
                                            <div class="carousel-item active  ">
                                                <div class="pr-tab active-tab" id="tab-2">
                                                    <div class="pricing-one__table-box-single">
                                                        <div class="pricing-one__table">
                                                            <div class="pricing-one__rate-box">
                                                                <h2><span class="pricing-one__dolar">500€</span>Tarif 1<span>/
                                                                                    sur demande</span></h2>
                                                            </div>
                                                            <div class="pricing-one__details-box">
                                                                <h3 class="pricing-one__details-title"> Offre complète</h3>
                                                                <ul class="list-unstyled">
                                                                    <li>Etude de votre demande</li>
                                                                    <li>Plan 3D</li>
                                                                    <li>Proposition & solutions</li>
                                                                    <li>Selection des offres</li>
                                                                    <li>Engagement</li>
                                                                </ul>
                                                            </div>
                                                            <div class="pricing-one__btn-box">
                                                                <a href="{{ path('app_contact') }}"
                                                                   class="pricing-one__btn thm-btn">Contactez moi</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--                                                             Offre 2                                                   -->
                                            <div class="carousel-item ">
                                                <div class="pr-tab active-tab" id="tab-2">
                                                    <div class="pricing-one__table-box-single">
                                                        <div class="pricing-one__table">
                                                            <div class="pricing-one__rate-box">
                                                                <h2><span class="pricing-one__dolar">1000€</span>Tarif <span>/
                                                                                    sur demande</span></h2>
                                                            </div>
                                                            <div class="pricing-one__details-box">
                                                                <h3 class="pricing-one__details-title"> Offre complète</h3>
                                                                <ul class="list-unstyled">
                                                                    <li>Etude de votre demande</li>
                                                                    <li>Plan 3D</li>
                                                                    <li>Proposition & solutions</li>
                                                                    <li>Selection des offres</li>
                                                                    <li>Engagement</li>
                                                                </ul>
                                                            </div>
                                                            <div class="pricing-one__btn-box">
                                                                <a href="{{ path('app_contact') }}"
                                                                   class="pricing-one__btn thm-btn">Contactez moi</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                                             Offre 3                                                   -->

                                            <div class="carousel-item ">
                                                <div class="pr-tab active-tab" id="tab-2">
                                                    <div class="pricing-one__table-box-single">
                                                        <div class="pricing-one__table">
                                                            <div class="pricing-one__rate-box">
                                                                <h2><span class="pricing-one__dolar">3000€</span>Tarif <span>/
                                                                                    sur demande</span></h2>
                                                            </div>
                                                            <div class="pricing-one__details-box">
                                                                <h3 class="pricing-one__details-title"> Offre complète</h3>
                                                                <ul class="list-unstyled">
                                                                    <li>Etude de votre demande</li>
                                                                    <li>Plan 3D</li>
                                                                    <li>Proposition & solutions</li>
                                                                    <li>Selection des offres</li>
                                                                    <li>Engagement</li>
                                                                </ul>
                                                            </div>
                                                            <div class="pricing-one__btn-box">
                                                                <a href="{{ path('app_contact') }}"
                                                                   class="pricing-one__btn thm-btn">Contactez moi</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                          </div>
                      </div>
                    </div>
                    <!--                                                             fin caroussel                                                           -->
                </div>
           </div>
         </div>
    </section>
    <!--                                                             fin section 7  AVEC CAROUSEL                                         -->









</div>




    {% endblock %}
