{% extends 'base.html.twig' %}
{% block content %}
    {% set Apps=theme.theme %}
    <div class="page-wrapper">
        <!--  HOME - SECTION 1 -  SLIDER PRINCIPAL - Background - 3 PHOTOS 1894X822  &  3 slogans     -->
        <section class="main-slider main-slider-two">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
            "effect": "fade",

             "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
              },

            "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
            },
            "autoplay": {
                "delay": 5000
            }}'>

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {% set image1 = Apps.image1CarouselHome %}
                        <div class="image-layer" style="background-image: url({{ vich_uploader_asset(image1) }})">

                        </div>
                        <div class="main-slider_border"></div>
                        <div class="main-slider_border main-slider_border-two"></div>
                        <div class="main-slider_border main-slider_border-three"></div>
                        <div class="main-slider_border main-slider_border-four"></div>
                        <div class="main-slider_border main-slider_border-five"></div>
                        <div class="main-slider_border main-slider_border-six"></div>

                        <div class="image-layer-overlay"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="main-slider__content">
                                        <h2>{{ Apps.nomentreprise }}<br>{{ Apps.titre1home }}</h2>
                                        <a href="{{ path('app_about') }}" class="cta-one__btn thm-btn">A propos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        {% set image2 = Apps.image2CarouselHome %}
                        <div class="image-layer" style="background-image: url({{ vich_uploader_asset(image2) }})">
                        </div>
                        {#                        <div class="image-layer" #}
                        {#                             #}
                        {#                        {% set image1 = Apps.image2CarouselHome %} #}
                        {#                        <img src="{{ vich_uploader_asset(image1) }}" #}
                        {#                             alt="{{ image1.titre|default('image') }}" width="100%"> #}
                        <div class="main-slider_border"></div>
                        <div class="main-slider_border main-slider_border-two"></div>
                        <div class="main-slider_border main-slider_border-three"></div>
                        <div class="main-slider_border main-slider_border-four"></div>
                        <div class="main-slider_border main-slider_border-five"></div>
                        <div class="main-slider_border main-slider_border-six"></div>

                        <div class="image-layer-overlay"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="main-slider__content">
                                        <h2>{{ Apps.nomentreprise }}<br>{{ Apps.titre2home }}</h2>
                                        <a href="{{ path('app_about') }}" class="cta-one__btn thm-btn">A propos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        {% set image3 = Apps.image3CarouselHome %}
                        <div class="image-layer" style="background-image: url({{ vich_uploader_asset(image3) }})">
                        </div>
                        <div class="main-slider_border"></div>
                        <div class="main-slider_border main-slider_border-two"></div>
                        <div class="main-slider_border main-slider_border-three"></div>
                        <div class="main-slider_border main-slider_border-four"></div>
                        <div class="main-slider_border main-slider_border-five"></div>
                        <div class="main-slider_border main-slider_border-six"></div>

                        <div class="image-layer-overlay"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="main-slider__content">
                                        <h2>{{ Apps.nomentreprise }}<br>{{ Apps.titre3home }}</h2>
                                        {#                                        <h2>Créativité à votre écoute</h2> #}
                                        <a href="{{ path('app_about') }}" class="cta-one__btn thm-btn">A propos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--navigation buttons -->
                <div class="swiper-pagination" id="main-slider-pagination"></div>
                <div class="main-slider__nav-two">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next"><i
                                class="icon-right-arrow icon-left-arrow"></i>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev"><i
                                class="icon-right-arrow"></i>
                    </div>
                </div>
            </div>
        </section>
        <!-- fin section 1 -->

        <!-- HOME - SECTION 2 -          3 SERVICES           ACTIVTES DE L'ENTREPRISE              DECO + PLANS 3D + G PROJET                                     -->
        <section class="steps">
            <div class="container">
                <div class="steps__inner">
                    <div class="row">
                        {% for troisServices in home %}
                            {% if troisServices.type =="3Services" %}
                                <div class="col-xl-4 col-lg-4">
                                    <!-- module 1 -->
                                    <div class="steps__single">
                                        <div class="steps__icon">
                                            <span class="icon-architect"></span>
                                            <div class="steps__count">
                                            </div>
                                        </div>
                                        <div class="steps__text">
                                            <h4>{{ troisServices.titre1 }} <br> {{ troisServices.texte1|striptags|raw }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4">
                                    <!--module  2-->
                                    <div class="steps__single">
                                        <div class="steps__icon">
                                            <span class="icon-architect-1"></span>
                                            <div class="steps__count">
                                            </div>
                                        </div>
                                        <div class="steps__text">
                                            <h4>{{ troisServices.titre2 }}<br> {{ troisServices.texte2 }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4">
                                    <!--module 3-->
                                    <div class="steps__single">
                                        <div class="steps__icon">
                                            <span class="icon-architect-2"></span>
                                            <div class="steps__count">
                                            </div>
                                        </div>
                                        <div class="steps__text">
                                            <h4>{{ troisServices.titre3 }}<br> {{ troisServices.texte3 }}</h4>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- HOME - SECTION 3 -                                   ASTUCES : RAPPEL THEME PIED DE PAGE                                        -->
        <section class="cta-one">
            <div class="cta-one-pattern"
                 style="background-image: url({{ asset('assets/images/pattern/cta-one-pattern.jpg') }})"></div>
            <div class="container">
                <div class="cta-one__inner">
                    <div class="cta-one__content">
                        {#                        {{ dump(Apps.themespiedpage[2]) }} #}
                        {#                        {% for points in Apps %} #}
                        {#                            {{ dump(points) }} #}
                        {#                        {% endfor %} #}
                        <h2 class="cta-one__text"> {{ Apps.themespiedpage[1] }}, {{ Apps.themespiedpage[2] }}
                            , {{ Apps.themespiedpage[3] }}...</h2>
                    </div>
                    <div class="cta-one__btn-box">
                        <a href="{{ path('app_portfolio') }}" class="cta-one__btn thm-btn"
                           style="background-color: {{ Apps.couleuractuellebg }}">Mes projets</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- fin section 3                                                                                                                                           -->


        <!--  HOME - SECTION  4                             IMAGE  BULLE EN MOUVEMENT               513x513  img2: 290x303                                     -->
        <section class="welcome-two">
            {% for bulles in home %}
                {% if bulles.type =="blogAboutConcept" %}
                    <div class="container">
                        <div class="row">
                            {% set image5 = bulles.images %}
                            <div class="col-xl-6">
                                <div class="welcome-two__left">
                                    <div class="welcome-two__img">
                                        <img src="{{ vich_uploader_asset(image5[0]) }}"
                                             alt="{{ images.titre|default('image') }}">
                                        <div class="welcome-two__img-shape-1"></div>
                                        <div class="welcome-two__img-shape-2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="welcome-two__right">
                                    <div class="section-title text-left">
                                        <span class="section-title__tagline">{{ bulles.titre1 }}</span>
                                        <h2 class="section-title__title">{{ bulles.titre2 }}</h2>
                                    </div>
                                    <p class="welcome-two__text">{{ bulles.titre3 }}</p>
                                    <div class="welcome-two__icon-box">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="welcome-two__icon-box-img">
                                                    <img src="{{ vich_uploader_asset(image5[1]) }}"
                                                         alt="{{ images.titre|default('image') }}">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <div class="welcome-two__icon-list-box">
                                                    <ul class="welcome-two__icon-list list-unstyled">
                                                        <li>
                                                            <div class="icon">
                                                                <span class="icon-measure"></span>
                                                            </div>
                                                            <div class="text-box">
                                                                <p>{{ bulles.texte1|striptags }}</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="icon">
                                                                <span class="icon-blueprint"></span>
                                                            </div>
                                                            <div class="text-box">
                                                                <p>{{ bulles.texte2|striptags }}</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        <!-- fin section 4                                                                                                                                  -->


        <!--  SECTION 5-                                            SERVICES PRO - img1: 513x513  img2: 290x303 -->

        <section class="services-two">
            <div class="container">
                {% for servicesPRO in home %}
                    {% if servicesPRO.type == '3ServicesPRO' %}

                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="section-title text-left">
                                        <span class="section-title__tagline">{{ servicesPRO.liste[0]}}</span>
                                        <h2 class="section-title__title">{{ servicesPRO.liste[1]}}</h2>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="services-two__top-text-box">
                                        <p class="services-two__top-text">{{ servicesPRO.liste[2] }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-duration="1500ms"
                                     style="min-height: 454px">
                                    <!--1er service-->
                                    <div class="services-two__single">
                                        <div class="services-two__single-bg"
                                             style="background-image: url({{ asset('assets/images/services/services-two__single-bg.png') }}) ">
                                        </div>
                                        <div class="services-two__icon">
                                            <span class="icon-house-design"></span>
                                        </div>
                                        <h2 class="services-two__title"><a
                                                    href="{{ path('app_services_details') }}">{{ servicesPRO.titre1 }}</a>
                                        </h2>
                                        <p class="services-two__text-2">{{ servicesPRO.texte1|striptags|u.truncate(150,'...',false) }}</p>
                                        <a href="{{ path('app_services_details') }}"
                                           class="services-one__btn services-two__btn">En
                                            savoir plus</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-duration="1500ms"
                                     data-wow-delay="100ms" style="min-height: 454px">

                                    <!--second service-->
                                    <div class="services-two__single">
                                        <div class="services-two__single-bg"
                                             style="background-image: url({{ asset('assets/images/services/services-two__single-bg.png') }})"></div>
                                        <div class="services-two__icon">
                                            <span class="icon-kitchen"></span>
                                        </div>
                                        <h2 class="services-two__title">
                                            <a href="{{ path('app_services_details') }}">{{ servicesPRO.titre2 }}</a>
                                        </h2>
                                        <p class="services-two__text-2">{{ servicesPRO.texte2|striptags|u.truncate(150,'...',false) }}</p>
                                        <a href="{{ path('app_services_details') }}"
                                           class="services-one__btn services-two__btn">En
                                            savoir plus</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-duration="1500ms"
                                     data-wow-delay="200ms" style="min-height: 454px">

                                    <!-3ème service-->
                                    <div class="services-two__single">
                                        <div class="services-two__single-bg"
                                             style="background-image: url({{ asset('assets/images/services/services-two__single-bg.png') }})"></div>
                                        <div class="services-two__icon">
                                            <span class="icon-architect-3"></span>
                                        </div>
                                        <h2 class="services-two__title">
                                            <a href="{{ path('app_services_details') }}">{{ servicesPRO.titre3 }}</a>
                                        </h2>
                                        <p class="services-two__text-2">{{ servicesPRO.texte3|striptags }}</p>
                                        <a href="{{ path('app_services_details') }}"
                                           class="services-one__btn services-two__btn">En savoir plus</a>
                                    </div>
                                </div>

                            </div>

                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <!--  SECTION  GROUPE BLOCK PHOTOS SOUS /PROJECTS 4 unités 473x473 et 2 en 948x473 px  -->

                            <!--                                          statique                                                         -->
        <section class="project-two">
            <div class="project-two__container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Ce que j'ai fais</span>
                    <h2 class="section-title__title">Mes derniers projets</h2>
                </div>
                <div class="row masonary-layout">
                    <!--                                          dynamique                                                         -->

                    {% for blocksPhotos in home %}
                        {% if blocksPhotos.type == 'BlockPhotos' %}
                            {% set image6 = blocksPhotos.images %}

                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[0]) }}"
                                             alt="{{ image6[0].titre|default('image') }}">

                                        <div class="project-two__architect">
                                            <p>{{ blocksPhotos.liste[0] }}</p>
                                            <h3><a href="portfolio-details.html">{{ blocksPhotos.titre1 }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[1]) }}"
                                             alt="{{ image6[1].titre|default('image') }}">
                                        <div class="project-two__architect">
                                            <p>{{ blocksPhotos.liste[1] }}</p>
                                            <h3><a href="portfolio-details.html">{{ blocksPhotos.titre2 }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[2]) }}"
                                             alt="{{ image6[2].titre|default('image') }}">
                                        <div class="project-two__architect">
                                            <p>{{ blocksPhotos.liste[2] }}</p>
                                            <h3><a href="portfolio-details.html">{{ blocksPhotos.titre3 }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[3]) }}"
                                             alt="{{ image6[3].titre|default('image') }}">
                                        <div class="project-two__architect">
                                            <p>{{ blocksPhotos.liste[3] }}</p>
                                            <h3><a href="portfolio-details.html">{{ blocksPhotos.texte1 }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[4]) }}"
                                             alt="{{ image6[4].titre|default('image') }}">
                                        <div class="project-two__architect">
                                            <p>{{ blocksPhotos.liste[4] }}</p>
                                            <h3><a href="portfolio-details.html">{{ blocksPhotos.texte2 }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[5]) }}"
                                             alt="{{ image6[5].titre|default('image') }}">

                                        <div class="project-two__architect">
                                            <p>{{ blocksPhotos.liste[5] }}</p>
                                            <h3><a href="portfolio-details.html">{{ blocksPhotos.texte3 }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>




        <!--  SECTION  GROUPE BLOCK PHOTOS SOUS /PROJECTS 4 unités 473x473 et 2 en 948x473 px  -->

        <!--                                          statique                                                         -->
        <section class="project-two">
            <div class="project-two__container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Ce que j'ai fais</span>
                    <h2 class="section-title__title">Mes derniers projets</h2>
                </div>
                <div class="row masonary-layout">
                    <!--                                          dynamique                                                         -->

                    {% for blocksPhotos in home %}
                        {% if blocksPhotos.type == 'BlockPhotos' %}
                            {% set image6 = blocksPhotos.images %}

                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[0]) }}"
                                             alt="{{ image6[0].titre|default('image') }}">

                                        <div class="project-two__architect">
                                            <p>{{blocksPhotos.liste[0]}}</p>
                                            <h3><a href="portfolio-details.html">{{blocksPhotos.titre1}}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[1]) }}"
                                             alt="{{ image6[1].titre|default('image')  }}">
                                        <div class="project-two__architect">
                                            <p>{{blocksPhotos.liste[1]}}</p>
                                            <h3><a href="portfolio-details.html">{{blocksPhotos.titre2}}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[2]) }}"
                                             alt="{{ image6[2].titre|default('image')  }}">
                                        <div class="project-two__architect">
                                            <p>{{blocksPhotos.liste[2]}}</p>
                                            <h3><a href="portfolio-details.html">{{blocksPhotos.titre3}}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[3]) }}"
                                             alt="{{ image6[3].titre|default('image')  }}">
                                        <div class="project-two__architect">
                                            <p>{{blocksPhotos.liste[3]}}</p>
                                            <h3><a href="portfolio-details.html">{{blocksPhotos.texte1}}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[4]) }}"
                                             alt="{{ image6[4].titre|default('image')  }}">
                                        <div class="project-two__architect">
                                            <p>{{blocksPhotos.liste[4]}}</p>
                                            <h3><a href="portfolio-details.html">{{blocksPhotos.texte2}}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="project-two__single">
                                    <div class="project-two__img">
                                        <img src="{{ vich_uploader_asset(image6[5]) }}"
                                             alt="{{ image6[5].titre|default('image') }}">

                                        <div class="project-two__architect">
                                            <p>{{blocksPhotos.liste[5]}}</p>
                                            <h3><a href="portfolio-details.html">{{blocksPhotos.texte3}}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <!--  SECTION 6 - compteur de chiffre  -->
        <section class="counters-one counters-one-martopminus" style="background-color: {{ Apps.couleuractuellebg }}">
            <div class="counters-one-pattern">
{#                 style="background-image: url({{ asset('assets/images/pattern/counter-one-pattern.min.jpg') }})">#}
            </div>
            <div class="container">
                {% for blocks in home %}
                    {% if blocks.type =="compteurs" %}

                        <ul class="counters-one__box list-unstyled">
                            <li class="counter-one__single">
                                <div class="counter-one__icon">
                                    <span class="icon-architect-4"></span>
                                </div>
                                <h3 class="odometer" data-count="2023">00</h3>
                                <p class="counter-one__text">Le défis</p>
                            </li>
                            <li class="counter-one__single">
                                <div class="counter-one__icon">
                                    <span class="icon-architect-5"></span>
                                </div>
                                <h3 class="odometer" data-count="{{ blocks.texte1|striptags }}">00</h3>
                                <p class="counter-one__text">{{ blocks.titre1 }}</p>
                            </li>
                            <li class="counter-one__single">
                                <div class="counter-one__icon">
                                    <span class="icon-buildings"></span>
                                </div>
                                <h3 class="odometer" data-count="{{ blocks.texte2 |striptags }}">00</h3>
                                <p class="counter-one__text">{{ blocks.titre2 }}</p>
                            </li>
                            <li class="counter-one__single">
                                <div class="counter-one__icon">
                                    <span class="icon-satisfaction"></span>
                                </div>
                                <h3 class="odometer" data-count=" {{ blocks.texte3 |striptags }}">00 ></h3><span
                                        class="text-white">%</span>
                                <p class="counter-one__text">{{ blocks.titre3 }}</p>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
 <!--          Fin des compteurs                                                                                                 -->
        <!--   SECTION 7  : offre sur mesure  -->
        <section id="pricing-tab" class="pricing-one ">
            <div class="container">
                {% for pricing in home %}
                {% if pricing.type == 'blogAboutConceptPrix'%}
                <div class="pricing-tabs">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">{{ pricing.titre1| default ('Etablissement du budget') |striptags }}></span>
                                <h2 class="section-title__title">{{ pricing.titre1| default ('Choisissez votre offre et vos options') |striptags }}</h2>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="pricing-one__content">
                                <p class="pricing-one__text">{{ pricing.texte3| default ('atout 1') |striptags }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="pricing-one__left">
                                <ul class="pricing-one__points list-unstyled">
                                    <li><span>/</span> {{ pricing.texte1| default ('atout 1') |striptags }}</li>
                                    <li><span>/</span> {{ pricing.texte2| default ('atout 2') |striptags }}</li>
                                </ul>
                                <ul class="pricing-one__checks-list list-unstyled">
                                    {% set li=pricing.liste %}
                                    <li>
                                        <div class="pricing-one__checks-icon">
                                            <i class="icon-tick"></i>
                                        </div>
                                        <div class="pricing-one__checks-text-box">
                                            <h3 class="pricing-one__checks-title">{{ li[0]| default ('Epures') |striptags }}</h3>
                                            <p class="pricing-one__checks-text"> {{ li[1]| default ('Plan 3d') |striptags }} </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pricing-one__checks-icon">
                                            <i class="icon-tick"></i>
                                        </div>
                                        <div class="pricing-one__checks-text-box">
                                            <h3 class="pricing-one__checks-title">{{ li[2]| default ('Assistance') |striptags }}</h3>
                                            <p class="pricing-one__checks-text">{{ li[3]| default ('Des idées') |striptags }}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pricing-one__checks-icon">
                                            <i class="icon-tick"></i>
                                        </div>
                                        <div class="pricing-one__checks-text-box">
                                            <h3 class="pricing-one__checks-title">{{ li[4]| default ('conseil') |striptags }}</h3>
                                            <p class="pricing-one__checks-text">{{ li[5]| default ('professionnel') |striptags }}</p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-6 ">
                            <div class="pricing-one__table-box">
                                <div class="pricing-one__right">
                                    {% for prix in home %}
                                    {% if prix.type =="tarifs" %}
                                    <div class="pr-content">
                                        <div class="pr-tab active-tab" id="tab-2" style="max-height: 80%">
                                            <div class="pricing-one__table-box-single">
                                                <div class="pricing-one__table">
                                                    <div class="pricing-one__rate-box">
                                                        <h2><span class="pricing-one__dollar"></span>{{ prix.titre1| default ('Tarif') |striptags }} <span>/
                                                                {{ prix.titre2| default ('sur demande') |striptags }} </span></h2>
                                                    </div>

                                                    <div class="pricing-one__details-box">
                                                        <h3 class="pricing-one__details-title"> {{ prix.titre3| default ('Offre complète') |striptags }} </h3>
                                                        <ul class="list-unstyled">
                                                            {% set li=prix.liste %}
                                                            <li>{{ li[1]| default ('professionnel') |striptags | default ('Etude de votre demande') }}</li>
                                                            <li>{{ li[2]| default ('professionnel') |striptags | default ('Plan 3D') }}</li>
                                                            <li>{{ li[3]| default ('professionnel') |striptags | default ('Proposition et solution') }}</li>
                                                            <li>{{ li[4]| default ('professionnel') |striptags | default ('sélection des offres') }}</li>
                                                            <li>{{ li[5]| default ('professionnel') |striptags | default ('engagement') }}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="pricing-one__btn-box">
                                                        <a href="{{ path('app_contact') }}"
                                                           class="pricing-one__btn thm-btn"  style="background-color: {{ Apps.couleuractuellebg }}">Contactez moi</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                {#                                        <div class="pr-tab .d-none" id="tab-1">#}
                {#                                            <div class="pricing-one__table-box-single .d-none">#}
                {#                                                <div class="pricing-one__table .d-none ">#}
                {#                                                    <div class="pricing-one__rate-box .d-none">#}
                {#                                                        <h2><span class="pricing-one__dolar">€</span>450<span>/#}
                {#                                                                forfait</span></h2>#}
                {#                                                    </div>#}
                {#                                                    <div class="pricing-one__details-box">#}
                {#                                                        <h3 class="pricing-one__details-title">Forfait de base</h3>#}
                {#                                                        <ul class="list-unstyled">#}
                {#                                                            <li>Visualisation 3D</li>#}
                {#                                                            <li>Modification</li>#}
                {#                                                            <li>Choix de matériaux</li>#}
                {#                                                            <li>Couleur et éclairage</li>#}
                {#                                                        </ul>#}
                {#                                                    </div>#}
                {#                                                    <div class="pricing-one__btn-box">#}
                {#                                                        <a href="{{ path('app_contact') }}"#}
                {#                                                           class="pricing-one__btn thm-btn">Contactez moi</a>#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                            </div>#}
                                        </div>
                                    </div>

                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
         </div>
  </section>

        <!--    SECTION 8 : confiance  -->
        <section class="trust-experts">
            <div class="trust-experts-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                 style="background-image: url({{ vich_uploader_asset(image1)}})"></div>
            <div class="container">
                <div class="trust-experts__inner">
                    <h2 class="trust-experts__text">{{theme.theme.titre1Home|default('Le choix de l\'expert') }}</h2>
                    <a href="{{ path("app_about") }}" class="trust-experts__btn thm-btn" style="background-color: {{ Apps.couleuractuellebg }}">A propos</a>
                </div>
            </div>
        </section>

        <!--   SECTION 9  : MA SECLECTION  photos 370x290   -->
        <section id="news" class="news-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Nouvelles & tendances</span>
                    <h2 class="section-title__title">Ma sélection</h2>
                </div>
                <!--  ***  boucle : ma selection  ***                            -->

                <div class="row">
{#                    {% for contenu in home %}#}
{#                        {% if contenu.type =="blogNews" and contenu.publier %}#}
{#                            {% include "contenus/_news.html.twig" with {new: contenu} %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
                    {% for contenu in home %}
                        {% if contenu.type =="NewsGTI" and contenu.publier %}
                            {% include "contenus/_news.html.twig" with {new: contenu} %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- SECTION 10 : Client contents                     4 IMGAGES 270X300 + 1MGAGE 156X98                              -->
        <section class="they-trusted">
            <div class="container">
                {% for contenu in home %}
                    {% if contenu.type =="blogTemoins" %}
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="they-trusted__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Ils m'ont fait confiance</span>
                                <h2 class="section-title__title">Clients satisfaits</h2>
                            </div>
                            <p class="they-trusted__text">En quelques mots voici quelques uns de nos clients </p>
                            <ul class="list-unstyled they-trusted__list">
                                <li>
                                    <div class="text">
                                        <p class="section-title__tagline"> {{ contenu.titre1|striptags| default('Un témoin qualité') }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="text mt-1">
                                        <p class="icon-tick text"> {{ contenu.titre2|striptags| default('Client satisfait') }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span></span>
                                    </div>
                                    <div class="text">
                                        <a href="{{ path("app_about") }}">
                                            <p class="fw-bolder mt-3">{{ contenu.texte1|striptags| u.truncate(150,'...',false)| default('La confiance') }}</p></a>
                                    </div>
                                </li>
                            </ul>
                            {% set image8 = contenu.images %}
                            <div class="they-trusted__projects-complete">
                                <div class="they-trusted__projects-complete-img">
                                    <img src="{{ vich_uploader_asset(image8[0]) }}"
                                         alt="{{ image8[0].titre|default('image') }}">
                                </div>
                                <div class="they-trusted__projects-complete-count-box">
                                    <h3>Multitude</h3>
                                    <p class="they-trusted__projects-complete-text">De projets</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="they-trusted__brand">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="they-trusted__brand-single">
                                        <div class="they-trusted__brand-main-img">
                                            <a href="#"> <img src="{{ vich_uploader_asset(image8[1]) }}"
                                                              alt="{{ image8[1].titre|default('image') }}"></a>
                                        </div>
                                        <div class="they-trusted__brand-overly">
                                            <a href="#"><img src="{{ vich_uploader_asset(image8[1]) }}"
                                                             alt="{{ image8[1].titre|default('image') }}"></a>
                                        </div>
                                        <div class="they-trusted__brand-prattern"
                                             style="background-image: url({{ asset("assets/images/pattern/they-trusted-brand-pattern.png") }})">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="they-trusted__brand-single">
                                        <div class="they-trusted__brand-main-img">
                                            <a href="#"><img src="{{ vich_uploader_asset(image8[2]) }}"
                                                             alt="{{ image8[2].titre|default('image') }}"></a>
                                        </div>
                                        <div class="they-trusted__brand-overly">
                                            <a href="#"><img src="{{ vich_uploader_asset(image8[2])}}" alt="{{ image8[2].titre|default('image') }}">
                                            </a>
                                        </div>
                                        <div class="they-trusted__brand-prattern"
                                             style="background-image: url({{ asset("assets/images/pattern/they-trusted-brand-pattern.png") }})">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="they-trusted__brand-single they-trusted__brand-single-mb-0">
                                        <div class="they-trusted__brand-main-img">
                                            <a href="#"> <img src="{{ vich_uploader_asset(image8[3])}}" alt="{{ image8[3].titre|default('image') }}"></a>
                                        </div>
                                        <div class="they-trusted__brand-overly">
                                            <a href="#"><img src="{{ vich_uploader_asset(image8[3])}}" alt="{{ image8[3].titre|default('image') }}"></a>
                                        </div>
                                        <div class="they-trusted__brand-prattern"
                                             style="background-image: url({{ asset("assets/images/pattern/they-trusted-brand-pattern.png") }})">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="they-trusted__brand-single they-trusted__brand-single-mb-0">
                                        <div class="they-trusted__brand-main-img">
                                            <a href="#"><img src="{{ vich_uploader_asset(image8[4])}}" alt="{{ image8[4].titre|default('image') }}"></a>
                                        </div>
                                        <div class="they-trusted__brand-overly">
                                            <a href="#"><img src="{{ vich_uploader_asset(image8[4])}}" alt="{{ image8[4].titre|default('image') }}"></a>
                                        </div>
                                        <div class="they-trusted__brand-prattern"
                                             style="background-image: url({{ asset("assets/images/pattern/they-trusted-brand-pattern.png") }})">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

        <section class="pricing-one">
            <div class="container">
                <div class="pricing-tabs">
{#                    <div class="row">#}
{#                        <div class="col-xl-6">#}
{#                            <div class="section-title text-left">#}
{#                                <span class="section-title__tagline">Etablissement du budget</span>#}
{#                                <h2 class="section-title__title">Choisissez votre offre et vos options</h2>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-xl-6">#}
{#                            <div class="pricing-one__content ">#}
{#                                <p class="pricing-one__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit#}
{#                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat#}
{#                                    volutpat.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <!--                                                            2 MODULES D'OFFRE                                                  -->

                    <!--                                                            OFFRE DE GAUCHE                                                  -->
{#                    <div class="row .d-none">#}
{#                        <div class="col-xl-6 mr-5 ">#}
{#                            <div class="pricing-one__left ">#}
{#                                <ul class="pricing-one__points list-unstyled">#}
{#                                    <li><span>/</span> La meilleure solution</li>#}
{#                                    <li><span>/</span> Une expertise à vos côtés</li>#}
{#                                </ul>#}
{#                                <ul class="pricing-one__checks-list list-unstyled">#}
{#                                    <li>#}
{#                                        <div class="pricing-one__checks-icon">#}
{#                                            <i class="icon-tick"></i>#}
{#                                        </div>#}
{#                                        <div class="pricing-one__checks-text-box">#}
{#                                            <h3 class="pricing-one__checks-title">Epures</h3>#}
{#                                            <p class="pricing-one__checks-text">De l'idée principale aux objectifs à#}
{#                                                atteindre.</p>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="pricing-one__checks-icon">#}
{#                                            <i class="icon-tick"></i>#}
{#                                        </div>#}
{#                                        <div class="pricing-one__checks-text-box">#}
{#                                            <h3 class="pricing-one__checks-title">Plan 3D</h3>#}
{#                                            <p class="pricing-one__checks-text">L'idée devient progressivement une#}
{#                                                réalité.#}
{#                                                L'expérience 3D permet déjà#}
{#                                                de se projeter dans votre future habitation</p>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="pricing-one__checks-icon">#}
{#                                            <i class="icon-tick"></i>#}
{#                                        </div>#}
{#                                        <div class="pricing-one__checks-text-box">#}
{#                                            <h3 class="pricing-one__checks-title">Assistance</h3>#}
{#                                            <p class="pricing-one__checks-text">Des artisans séléctionnés pour leurs#}
{#                                                compétences et leur savoir-être réponderont à votre demande.</p>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}


{#                        <!--                                               COLONNE DE DROITE AVEC CAROUSSEL                                                  -->#}

                        <div class="col-xl-6 ml-5">
                            <div class="pricing-one__table-box ">
                                <div class="pricing-one__right">
                                    <div class="pr-content">
                                        <!--                                                       Debut caroussel                                                    -->
                                        <div id="myCarousel" class="carousel slide " style="width: 580px" data-bs-touch="false">
                                            <div class="carousel-inner ">
                                                <!--                                                        Offre 1                                                     -->
                                                <div class="carousel-item active d-flex justify-content-center" >
                                                    <div class="pr-tab active-tab" id="tab-2" >
                                                        <div class="pricing-one__table-box-single"  style="width: 300px">
                                                            <div class="pricing-one__table">
                                                                <div class="pricing-one__rate-box">
                                                                    <h2><span class="pricing-one__dolar">555€</span>Tarif
                                                                        1<span>/ sur demande</span></h2>
                                                                </div>
                                                                <div class="pricing-one__details-box">
                                                                    <h3 class="pricing-one__details-title"> Offre
                                                                        complète</h3>
                                                                    <ul class="list-unstyled">
                                                                        <li>Etude de votre demande</li>
                                                                        <li>Plan 3D</li>
                                                                        <li>Proposition & solutions</li>
                                                                        <li>Selection des offres</li>
                                                                        <li>Engagement</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="pricing-one__btn-box">
                                                                    <a href="{{ path('app_contact') }}"
                                                                       class="pricing-one__btn thm-btn">Contactez
                                                                        moi</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--                                                             Offre 2                                                   -->
                                                <div class="carousel-item d-flex justify-content-center">
                                                    <div class="pr-tab active-tab" id="tab-2">
                                                        <div class="pricing-one__table-box-single">
                                                            <div class="pricing-one__table">
                                                                <div class="pricing-one__rate-box">
                                                                    <h2><span class="pricing-one__dolar">1111€</span>Tarif
                                                                        <span>/
                                                                                    sur demande</span></h2>
                                                                </div>
                                                                <div class="pricing-one__details-box">
                                                                    <h3 class="pricing-one__details-title"> Offre
                                                                        complète</h3>
                                                                    <ul class="list-unstyled">
                                                                        <li>Etude de votre demande</li>
                                                                        <li>Plan 3D</li>
                                                                        <li>Proposition & solutions</li>
                                                                        <li>Selection des offres</li>
                                                                        <li>Engagement</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="pricing-one__btn-box">
                                                                    <a href="{{ path('app_contact') }}"
                                                                       class="pricing-one__btn thm-btn">Contactez
                                                                        moi</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--                                                             Offre 3                                                   -->

                                                <div class="carousel-item d-flex justify-content-center">
                                                    <div class="pr-tab active-tab" id="tab-2">
                                                        <div class="pricing-one__table-box-single">
                                                            <div class="pricing-one__table">
                                                                <div class="pricing-one__rate-box">
                                                                    <h2><span class="pricing-one__dolar">777€</span>Tarif
                                                                        <span>/
                                                                                    sur demande</span></h2>
                                                                </div>
                                                                <div class="pricing-one__details-box">
                                                                    <h3 class="pricing-one__details-title"> Offre
                                                                        complète</h3>
                                                                    <ul class="list-unstyled">
                                                                        <li>Etude de votre demande</li>
                                                                        <li>Plan 3D</li>
                                                                        <li>Proposition & solutions</li>
                                                                        <li>Selection des offres</li>
                                                                        <li>Engagement</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="pricing-one__btn-box">
                                                                    <a href="{{ path('app_contact') }}"
                                                                       class="pricing-one__btn thm-btn">Contactez
                                                                        moi</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="carousel-control-prev" type="button"
                                                    data-bs-target="#myCarousel" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                    data-bs-target="#myCarousel" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                                                             fin caroussel                                                           -->
                    </div>
                </div>
            </div>
        </section>

{% endblock %}


