{% extends 'base.html.twig' %}
{% block content %}
    {% if news.images.first and false %}
        {% set image = vich_uploader_asset(news.images.first) %}
    {% else %}
        {% set image = asset('assets/images/backgrounds/fond2.png') %}
    {% endif %}
    <section class="page-header" style="background-image: url({{ image }});">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>{{ news.titre1 }}</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li><a href="{{ path('app_news') }}">News</a></li>
                </ul>
            </div>
        </div>
        bite
    </section>
    <section class="news-details">
        <div class="container">
            <div class="row p-4">

                {% include "contenus/_news_details.html.twig" with {news: news} %}

                <!--  BLOCK LATERAL DROIT  -->
                <div class="col-xl-4 col-lg-4">
                    <div class="sidebar__single sidebar__post">
                        <h3 class="sidebar__title">Dernières news</h3>
                        <ul class="sidebar__post-list list-unstyled text-break m-4">
                            {% for lastNew in lastNews %}
                                {% if lastNew.titre1 is not empty %}
                                    {% if lastNew.images.first %}
                                        {% set image = vich_uploader_asset(lastNew.images.first) %}
                                    {% else %}
                                        {% set image = asset('assets/images/backgrounds/fond2.png') %}
                                    {% endif %}
                                    <li style="object-fit: contain">
                                        <a class='d-flex align-items-center'
                                           href="{{ path('app_news_details',{slug: lastNew.slug }) }}">
                                            <div class="sidebar__post-image">
                                                <img src="{{ image }}" alt="{{ lastNew.images.first.Titre }}">
                                            </div>
                                            <div class="sidebar__post-content">
                                                <h3>
                                                    <span class="sidebar__post-content_meta">{{ lastNew.titre1 }}</span>
                                                </h3>
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!--                                                    fin  Menu latéral dernier "post"                                           -->
                </div>
            </div>
        </div>
    </section>


{% endblock %}
