{% extends 'base.html.twig' %}

{% block content %}
    <!--                                                 -Bandeau supérieur   / image de font 1894x359 px                                           -->
    {% set Apps= theme.theme %}

    <section class="page-header" style="background-image: url({{ vich_uploader_asset(Apps.image1CarouselHome) }});">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>Ma mission</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>Ma mission</li>
                </ul>
            </div>
        </div>
    </section>
    <!--                                                                -Bandeau supérieur fin                                                             -->
    {% if mission.image.first %}
        {% set image = vich_uploader_asset(mission.image.first) %}
        {% set imageTitle = mission.image.first.titre %}
    {% else %}
        {% set image = asset('assets/images/styles/charmant.png') %}
        {% set imageTitle = 'service image' %}
    {% endif %}

     <!--                                                               MA MISSION  image 530x463                                                                                        -->
    <section class="productive">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="productive__left">
                        <div class="productive__img">
                            <img src="{{image}}" alt="{{imageTitle}}">

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="productive__right">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">{{ mission.missiont1 }}</span>
                            <h2 class="section-title__title">{{ mission.missiont2 }}</h2>
                        </div>
                        <ul class="productive__points list-unstyled">
                            <li><span>/</span> {{ mission.missionarg1 }}</li>
                            <li><span>/</span> {{ mission.missionarg2 }}</li>
                        </ul>
                        <p class="productive__text"> {{ mission.missiontexte1|striptags }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                    fin texte1                                                          -->
{#    {{ dump(mission.image[0].image) }}#}
    <!--                                                                       texte 2                                                      -->
    <section class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="benefits__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">{{ mission.missiont3 }}</span>

                            <h2 class="section-title__title">{{ mission.missiont4 }}</h2>
                        </div>
                        <div class="benefits__checks-box">
                            <ul class="benefits__checks-list list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="content">
                                        <h3>{{ mission.missionarg3 }}</h3>
                                        <p>  {{ mission.missiontexte2|striptags }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="content">
                                        <h3>{{ mission.missionarg4 }}</h3>
                                        <p> {{ mission.missiontexte3|striptags}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="benefits__right">
                        <div class="benefits__img">
                            {% if mission.image[1] %}
                                {% set image2 = vich_uploader_asset(mission.image[1]) %}
                                {% set imageTitle2 = mission.image[1].image %}
                            {% else %}
                                {% set image2 = asset('assets/images/styles/charmant.png') %}
                                {% set imageTitle2 = 'service image' %}
                            {% endif %}
                            <img src="{{ image2 }}" alt="{{imageTitle2}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                                fin texte 2                                                             -->

    <!--  Célébrité: citations                                               -->
    {% set listeC=mission.listeCelebrite%}
    <section class="testimonials-two our-mission-page-testimonial">
        <div class="testimonials-two-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
             style="background-image: url(({{ vich_uploader_asset(Apps.image1CarouselHome) }})"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testimonials-two__carousel owl-theme owl-carousel">

                        <!--image 1-->
                        <div class="testimonials-two__inner-single">
                            <div class="testimonials-two__client-info-box">
                                <div class="testimonials-two__client-info">
                                    <div class="testimonials-two__client-img">
                                        <img src="{{ asset('assets/images/testimonial/Ellipse80.png') }}" alt='miniature circulaire de maison miniature'>
                                        <div class="testimonials-two__quote-icon">
                                            <img src="{{ asset('assets/images/testimonial/testimonials-two-quote-icon.png') }}"
                                                 alt="petite icone de crochet encradrant une citation">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials-two__client-name-box">
                                    <h5 class="testimonials-two__client-name">{{listeC['1']|default('Nate Berkus')}}</h5>
                                    <p class="testimonials-two__client-title"> {{listeC['2']|default('designer interieur renomme')}} </p>
                                </div>
                            </div>
                            <div class="testimonials-two__text-box">
                                <p class="testimonials-two__text"> {{listeC['3']|default('Le design intérieur est plus qu une simple décoration...') }}</p>
                            </div>
                        </div>

                        <!--                                                        temoin 2                                                -->
                        <div class="testimonials-two__inner-single">
                            <div class="testimonials-two__client-info-box">
                                <div class="testimonials-two__client-info">
                                    <div class="testimonials-two__client-img">
                                        <img src="{{ asset('assets/images/testimonial/Ellipse80.png') }}" alt="miniature ciculaire d'une maison 3d">
                                        <div class="testimonials-two__quote-icon">
                                            <img src="{{ asset('assets/images/testimonial/testimonials-two-quote-icon.png') }}"
                                                 alt="petite icone de crochet encradrant une citation">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials-two__client-name-box">
                                    <h5 class="testimonials-two__client-name">{{listeC['4']|default('Kelly Hoppen')}} </h5>
                                    <p class="testimonials-two__client-title">{{listeC['5']|default('Designer intérieur de renommée mondiale')}}</p>
                                </div>
                            </div>
                            <div class="testimonials-two__text-box">
                                <p class="testimonials-two__text">{{listeC['6']|default('Le designer intérieur est...')}} </p>
                            </div>
                        </div>

                        <!--                                                        temoin 3                                                -->
                        <div class="testimonials-two__inner-single">
                            <div class="testimonials-two__client-info-box">
                                <div class="testimonials-two__client-info">
                                    <div class="testimonials-two__client-img">
                                        <img src="{{ asset('assets/images/testimonial/Ellipse80.png')}}" alt="miniature ciculaire d'une maison 3d">
                                        <div class="testimonials-two__quote-icon">
                                            <img src="{{ asset('assets/images/testimonial/testimonials-two-quote-icon.png')}}"
                                                 alt="petite icone de crochet encradrant une citation">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials-two__client-name-box">
                                    <h5 class="testimonials-two__client-name">{{listeC['7']|default('Philippe Starck')}} </h5>
                                    <p class="testimonials-two__client-title">{{listeC['8']|default('Designer et architecte français de renom')}} </p>
                                </div>
                            </div>
                            <div class="testimonials-two__text-box">
                                <p class="testimonials-two__text">{{listeC['9']|default('Le designer intérieur est...')}} </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                   fin temoignage                                                       -->

    <!--                                                                BANDEAU INFERIEUR                                                       -->
    <section class="how-we-works">
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline"> {{ mission.missiont5 }}</span>
                <h2 class="section-title__title"> {{ mission.missiont6 }}</h2>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <ul class="list-unstyled how-we-works__single-list">

                        <!-- REPO fonction findListe() -->
{#                        {% for list in liste1 %}#}
{#                        {{ dump(list[1]) }}.#}
{#                            {{ dump(list[2]) }}#}
{#                        {% endfor %}#}

                        <!-- LOGINCONTROLLER variable Mission -->
                        {% set listeRencontre=mission.liste%}
                        <li class="how-we-works__single">
                            <div class="how-we-works__icon-box">
                                <div class="how-we-works__icon">
                                    <span class="icon-team"></span>
                                    <div class="how-we-works__count">
                                    </div>
                                </div>
                            </div>
                            <h3 class="how-we-works__title">{{ listeRencontre['1']|default('PREMIÈRE RENCONTRE') }}</h3>
                            <p class="how-we-works__text">{{ listeRencontre['2']|default('Apprendre à se connaître') }}</p>
                            <!--                                                étape 2                                                                     -->
                        <li class="how-we-works__single">
                            <div class="how-we-works__icon-box">
                                <div class="how-we-works__icon">
                                    <span class="icon-checklist"></span>
                                    <div class="how-we-works__count">
                                    </div>
                                </div>
                            </div>
                            <h3 class="how-we-works__title">{{ listeRencontre['3']|default('Réalisation des plans 3D') }}</h3>
                            <p class="how-we-works__text">{{ listeRencontre['4']|default('Présentation des résultats') }}</p>
                        </li>
                        <li class="how-we-works__single">
                            <div class="how-we-works__icon-box">
                                <div class="how-we-works__icon">
                                    <span class="icon-outsourcing"></span>
                                    <div class="how-we-works__count">
                                    </div>
                                </div>
                            </div>
                            <!--                                                étape 3                                                                    -->
                            <h3 class="how-we-works__title">{{ listeRencontre['5']|default('Satisfaction & réalisation') }}</h3>
                            <p class="how-we-works__text">{{ listeRencontre['6']|default('Suivant la formule') }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--                                                                    fin des 3 étapes                                                                    -->

    <!--                                                                   BLOCJ IMAGES 123x24                                                                       -->
    <section class="brand-three">
        <div class="container">
            <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 5
                    }
                }}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle1.png') }} " alt="rectange rouge">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle2.png') }} " alt="rectange rose">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle3.png') }} " alt="rectangle violet">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle4.png') }} " alt="rectangle bleu">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle5.png') }}" alt="rectangle turquoise">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle6.png') }} " alt="rectangle vert">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle7.png') }} " alt="rectangle gris marron">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle8.png') }} " alt="rectangle vert fluo">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle9.png') }} " alt="rectangle orange">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/images/resources/rectangle10.png') }} " alt="rectange saumon">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--                                                        fin block image 123x24                                  -->



{% endblock %}
