{% extends 'base.html.twig' %}

{% block content %}

    <section class="page-header" style="background-image: url({{ asset('assets/images/backgrounds/main-slider-11.jpg') }});">
        <div class="page-header-border"></div>
        <div class="page-header-border page-header-border-two"></div>
        <div class="page-header-border page-header-border-three"></div>
        <div class="page-header-border page-header-border-four"></div>
        <div class="page-header-border page-header-border-five"></div>
        <div class="page-header-border page-header-border-six"></div>
        <div class="container">
            <div class="page-header__inner">
                <h2>Services</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><span>/</span></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="insuring insuring-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="insuring__left">
                        <div class="insuring__img">
                            <img src="{{ asset('assets/images/resources/sejour_moyen.jpg') }}" alt="photo d'un sejour ancien avec parquet avec vue sur le jardin, peinture blanche et moulures">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="insuring__right">
                        <div class="insuring__your-future-box">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Nous travaillons sur</span>
                                <h2 class="section-title__title">Des projets personnalisés</h2>
                            </div>
                            <p class="insuring__text">Les projets immobiliers sont nombreux. En tant que professionnel, je vous accompagne dans vos idées de changement,
                                de création d'espace, ou pour mettre en valeur votre bien: vente, location, création d'un gîte, chambre d'hôtes, etc...</p>
                            <div class="insuring__counter-list-box">
                                <ul class="list-unstyled insuring__counter-list">
                                    <li>
                                        <h2 class="odometer" data-count="50">00</h2>
                                        <p class="insuring__counter-list-text">Partenaires et artisans</p>
                                    </li>
                                    <li>
                                        <h2 class="odometer" data-count="100">00</h2><span class="text-black-50">%</span>
                                        <p class="insuring__counter-list-text">Clients satisfaits</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services-one">
        <div class="services-one-container">

            <div class="section-title text-center">
                <span class="section-title__tagline">Nous vous offrons</span>
                <h2 class="section-title__title">Des services de qualité</h2>
            </div>
            <div class="row">
                {% for Contenus in services %}
                {% if Contenus.type == "3ServicesQUALITE" %}

                <div class="col-xl-4 col-lg-4 " >

                    <div class="services-one__single" style="min-height:450px">
                        <h2 class="services-one__title"><a href="{{ path('app_services_details') }}">{{ Contenus.titre1 }}</a></h2>
                        <p class="services-one__text">{{ Contenus.texte1|striptags|u.truncate(150,'...',false) }}</p>
                        <a href="{{path('app_services_details')}}" class="services-one__btn">En savoir plus</a>
                        <div class="services-one__icon">
                            <span class="icon-furnitures"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 ">

                    <!--SERVICE 2 -->
                    <div class="services-one__single" style="min-height:450px">
                        <h2 class="services-one__title"><a href="{{ path('app_services_details') }}">{{ Contenus.titre2 }}</a></h2>
                        <p class="services-one__text">{{ Contenus.texte2|striptags|u.truncate(150,'...',false) }}</p>
                        <a href="{{path('app_services_details')}}" class="services-one__btn">En savoir plus</a>
                        <div class="services-one__icon">
                            <span class="icon-buildings"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 ">
                    <!--SERVICE 3-->
                    <div class="services-one__single" style="min-height:450px">
                        <h2 class="services-one__title"><a href="{{ path('app_services_details') }}">{{ Contenus.titre3 }}</a></h2>
                        <p class="services-one__text">{{ Contenus.texte3|striptags|u.truncate(150,'...',false)}}</p>
                        <a href="{{path('app_services_details')}}" class="services-one__btn">En savoir plus</a>
                        <div class="services-one__icon">
                            <span class="icon-house-design"></span>
                        </div>
                    </div>
                </div>
                {%endif %}
                {%endfor %}
            </div>
        </div>
    </section>

    <section class="trust-experts">
        <div class="trust-experts-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
             style="background-image: url({{ asset('assets/images/backgrounds/deco_bandeau.jpg') }})"></div>
        <div class="container">
            <div class="trust-experts__inner">
                <h2 class="trust-experts__text">L'oeil de l'expert<br> dans toutes vos réalisations</h2>
                <a href="{{path('app_services_details')}}" class="services-one__btn">En savoir plus</a>
            </div>
        </div>
    </section>

    <section class="three-boxes-two three-boxes-two-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <!--image et contenu 1-->
                    <div class="three-boxes-two__single">
                        <div class="three-boxes-two__img">
                            <img src="{{ asset('assets/images/resources/color-formatTimbre.png') }}" alt="nuancier de couleur pour décorateur">
                        </div>
                        <div class="three-boxes-two__content">
                            <h3 class="three-boxes-two__title"><a href="{{ path('app_services_details') }}">Design & décoration <br>
                                    </a></h3>
                            <p class="three-boxes-two__text">Une ambiance, une tendance, une valeur</p>
                            <a href="{{path('app_services_details')}}" class="services-one__btn">En savoir plus</a>
                        </div>
                        <div class="three-boxes-two__single-pattern"
                             style="background-image: url({{ asset('assets/images/pattern/three-boxes-two__single-pattern.png') }})">
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                    <!--image et contenu 2-->
                    <div class="three-boxes-two__single">
                        <div class="three-boxes-two__img">
                            <img src="{{ asset('assets/images/resources/industriel_formatTimbre.png') }}" alt="affichage réduit du plan 3d cuisine séjour style industriel">
                        </div>
                        <div class="three-boxes-two__content">
                            <h3 class="three-boxes-two__title"><a href="{{ path('app_services_details') }}">Des rêves sur mesure<br>
                                    </a></h3>
                            <p class="three-boxes-two__text">Accompagnement jusqu'à la réalisation</p>
                            <a href="{{path('app_services_details')}}" class="services-one__btn">En savoir plus</a>
                        </div>
                        <div class="three-boxes-two__single-pattern"
                             style="background-image: url({{ asset('assets/images/pattern/three-boxes-two__single-pattern.png') }})">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                    <!--image et contenu 3-->
                    <div class="three-boxes-two__single">
                        <div class="three-boxes-two__img">
                            <img src="{{ asset('assets/images/resources/chambre_formatTimbre.png') }}" alt="chambre ado style contemporain, gris et blanc">
                        </div>
                        <div class="three-boxes-two__content">
                            <h3 class="three-boxes-two__title"><a href="{{ path('app_services_details') }}">Lignes épurées<br>
                                    architects</a></h3>
                            <p class="three-boxes-two__text">Les formes simples tendent à la perfection</p>
                            <a href="{{path('app_services_details')}}" class="services-one__btn">En savoir plus</a>
                        </div>
                        <div class="three-boxes-two__single-pattern"
                             style="background-image: url({{ asset('assets/images/pattern/three-boxes-two__single-pattern.png') }})">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
