{% extends 'base.html.twig' %}
   {% set Apps=theme.theme %}

{% block content %}
    {{  dump(Apps.jours_fermes) }}
    {{ dump(serviceD) }}
    {% for service in serviceD %}

        {% if service.images.first %}
            {% set image = vich_uploader_asset(service.images.first) %}
            {% set imageTitle = service.images.first.titre %}

        {% else %}
            {% set image = asset('assets/images/backgrounds/fond2.png') %}
            {% set imageTitle = 'service détails image' %}
        {% endif %}

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
</div><!-- /.stricky-header -->


    <!--                                                 -Bandeau supérieur   / image de font 1894x359 px                                           -->
<section class="page-header" style="background-image: url(assets/images/backgrounds/main-slider-11.png);">
    <div class="page-header-border"></div>
    <div class="page-header-border page-header-border-two"></div>
    <div class="page-header-border page-header-border-three"></div>
    <div class="page-header-border page-header-border-four"></div>
    <div class="page-header-border page-header-border-five"></div>
    <div class="page-header-border page-header-border-six"></div>
    <div class="container">
        <div class="page-header__inner">
            <h2>Services Details</h2>
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><span>/</span></li>
                <li>Services Details</li>
            </ul>
        </div>
    </div>
</section>
 <!--                                                                                         fin bandeau                                                                    -->

 <!--                                                                   SECTION 1 : SERVICES details  / image 672x713                                                   -->
<section class="services-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="services-details__sidebar">
                    <div class="services-details__services-list-box">
                        <ul class="services-details__services-list list-unstyled">
                            <li><a href="#">Aménagement d'intérieur<span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Architecture <span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Design & Planning <span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Home staging<span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Agencement optimisé <span class="icon-right-arrow"></span></a></li>
                            <li><a href="#">Assitance à la gestion <span class="icon-right-arrow"></span></a></li>
                        </ul>
                    </div>{
                    <div class="services-details__help-box">
                        <div class="services-details__help-box-bg"
                             style="background-image: url(assets/images/resources/bureau-moyen.jpg);">
                        </div>
                        <div class="services-details__help-box-bg-overly"></div>
                        <h3 class="services-details__help-box-title">{{ Apps.titre2|default('Besoin d\'aide?') }} </h3>
                        <p class="services-details__help-box-text">{{ Apps.titre3|default('Bienvenue')}}
                            </p>
                        <a href="tel:92-666-888-0000" class="services-details__phone">{{(Apps.telephone|default('(+33) 06 21 85 33 48')) }}</a>
                        <a href="{{ path('app_contact') }}" class="thm-btn services-details__help-box-btn"> En savoir plus</a>
                    </div>
{#                </div>  {{ dump(Apps)}}#}
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="services-details__right">
                    <div class="services-details__img">
                        <img src="{{image}}" style="height: 300px;width: 100%;object-fit: contain"
                             alt="{{ imageTitle }}">
                    </div>
                    <div class="services-details__content">
                        <h2 class="services-details__title">{{ service.titre1|default(('Designer'))|striptags }}</h2>
                        <p class="services-details__text-1"> {{ service.texte1|default(('le métier en quelques mots'))|striptags }} </p>
                    </div>
                    <div class="services-details__designing-box">
                        <div class="services-details__designing-list-box">
                            <h2 class="services-details__designing-list-box-title">Les atouts</h2>
                            <ul class="services-details__designing-list list-unstyled">
                                {% set list = service.liste %}


                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[0] |default(('le métier en quelques mots'))|striptags  }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[1] |default(('100% Satisfait'))|striptags  }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[2] |default(('Respect des engagements'))|striptags  }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[3] |default(('Délais, Coût, Qualité'))|striptags  }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[4] |default(('Les meilleures solutions'))|striptags  }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[5] |default(('Professionnel et Qualifié'))|striptags  }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="services-details__designing-img">
                            <img src="assets/images/resources/transat_moyen.png" alt="image piscine eau bleu derriere une maison, protegée des regard, soleil et transat">
                        </div>
                    </div>
                    <div class="services-details__faq">
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>{{ list[5] |default(('plan 2D - 3D'))|striptags  }}</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>{{ list[6] |default(('Des plans aux cotations fonctionnelles, disponibles pour le particulier comme pour le professionnel.'))|striptags  }}
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>{{ list[7] |default(('Planche de tendance et nuancier'))|striptags  }}</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>{{ list[8] |default(('Votre dossier personnalisé vous suit dans toutes vos démarches, prêt à répondre à toutes vos inspirations.'))|striptags  }}</p>                                       </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



    {% endfor %}
    <!--                                                                    fin de la section                                                           -->
{% endblock %}





