{% extends 'base.html.twig' %}

{% block content %}
    {% set Apps= theme.theme %}
    {% for service in serviceD %}
        {% if service.images.first %}
            {% set imageGd = vich_uploader_asset(service.images[0]) %}
            {% set imageTitle = service.images.first.titre %}
        {% else %}
            {% set image = asset('assets/images/backgrounds/fond2.png') %}
            {% set imageTitle = 'service détails image' %}
        {% endif %}
    {% endfor %}

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div>
        </div><!-- /.stricky-header -->

        <!--                                                 -Bandeau supérieur   / image de font 1894x359 px                                           -->
        <section class="page-header" style="background-image: url({{ asset('assets/images/backgrounds/main-slider-11.jpg') }})">
            <div class="page-header-border"></div>
            <div class="page-header-border page-header-border-two"></div>
            <div class="page-header-border page-header-border-three"></div>
            <div class="page-header-border page-header-border-four"></div>
            <div class="page-header-border page-header-border-five"></div>
            <div class="page-header-border page-header-border-six"></div>
             <div class="container">
                <div class="page-header__inner">
                    <h2>Services Details</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="{{ path('app_home') }}">Home</a></li>
                        <li><span>/</span></li>
                        <li>Services Details</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--                                                                                         fin bandeau                                                                    -->


        <!--  SECTION 1 : SERVICES details / IMG 672x713                                                                        -->
        <section class="services-details" style="padding-bottom: 10px">
            <div class="container">
                <div class="row">
                    <!-- Première colonne -->

                    <div class="col-md-8">
                      <!-- Contenu de la première colonne -->
                      {#                    with {type: servicesGTI} only #}
                      {% include "contenus/_services_details.html.twig" %}
                    </div>
                    <!-- Deuxième colonne -->
                    <div class="col 3">
                        <div class="row">
                            <!-- Premier bloc de la deuxième colonne -->
                            <div class="col-12">
                                <div class="news-details">
                                    <div class="container">
                                        <div class="row">

                                            <!--  BLOCK LATERAL DROIT  -->
                                            <div class="col-lg-10">
                                                <div class="sidebar__single sidebar__post">
                                                    <h3 class="sidebar__title">Mes services</h3>
                                                    <ul class="sidebar__post-list list-unstyled text-break">
                                                        {% for servicesF in serviceFiltres %}
                                                            {% if servicesF.titre1 is not empty %}
                                                                {% if servicesF.images.first %}
                                                                    {% set imageF = vich_uploader_asset(servicesF.images.first) %}
                                                                {% else %}
                                                                    {% set imageF = asset('assets/images/backgrounds/fond2.png') %}
                                                                {% endif %}
                                                                <li>
                                                                    <a class='d-flex align-items-center'
                                                                       href="{{ path('app_services_details',{slug: servicesF.slug }) }}">
                                                                        <div class="sidebar__post-image">
                                                                            <img src="{{ imageF }}" alt="image sélectionnée">
                                                                        </div>
                                                                        <div class="sidebar__post-content">
                                                                            <h3>
                                                                                <span class="sidebar__post-content_meta ">{{ servicesF.titre1 }}</span>
                                                                            </h3>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Deuxième bloc de la deuxième colonne -->
                            <div class="col-12">
                                <div class="container">
                                    <div class="col-lg-10">
                                        <!--     Coordonnées + lien vers contact     -->
                                        <div class="services-details__sidebar">
                                            <div class="services-details__help-box mt-0"
                                                 style="padding: 36px 21px 53px;">
                                                <div class="services-details__help-box-bg-overly"></div>
                                                <h3 class="services-details__help-box-title" style="text-align:left">{{ Apps.titre3menulat|default('Besoin d\'aide?') }} </h3>
                                                <p class="services-details__help-box-text" style="text-align:left">{{ Apps.textemenulat|striptags|default('Bienvenue') }}
                                                </p>
                                                <a class="services-details__phone">{{ (Apps.telephone|default('(+33) 06 21 85 33 48')) }}</a>
                                                <a href="{{ path('app_contact') }}"
                                                   class="thm-btn services-details__help-box-btn"
                                                   style="background-color: {{ Apps.couleuractuellebg }}">Me
                                                    contacter</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


            <!-- fin sections supérieures : details du service et miniatures des offres   -->


        <!-- Bandeau intermédiaire gris -->

        <section class="services-one" style="padding-top:25px; padding-bottom:1px; margin: 6% 4% 6% 4%">
            <div class="services-one-container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Je vous offre</span>
                    <h2 class="section-title__title mt-3">Des services de qualité</h2>
                </div>
            </div>
        </section>

        <!-- Section com -->
        <section>
        <div class="container mb-4">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="services-details__sidebar ">
                        <!-- 6 clefs de GAUCHE avec les popover -->
                        <div class="services-details__services-list-box">
                            <ul id="jojo" class="truc services-details__services-list list-unstyled">
                                {% for liste in clef %}
                                    {% set liste=liste.liste %}
                                    <li data-toggle="popover" title="En détail"
                                        data-bs-content="{{ liste[1]|default('plan 3d')|striptags|u.truncate(300,'...',false) }}">
                                        <a style="max-height: 80px">{{ liste[0]|default('sur mesure')|striptags|u.truncate(25,'...',false) }}
                                            <span class="icon-right-arrow"></span></a>
                                    </li>

                                    <li class="#jojo" data-toggle="popover" title="En détail"
                                        data-bs-content="{{ liste[3]|default('visite 3D')|striptags|u.truncate(300,'...',false) }}">
                                        <a style="max-height: 80px">{{ liste[2]|default('virtuelle')|striptags|u.truncate(25,'...',false) }}
                                            <span class="icon-right-arrow"></span></a>
                                    </li>

                                    <li data-toggle="popover" title="En détail"
                                        data-bs-content="{{ liste[5]|default('Home staging')|striptags|u.truncate(300,'...',false) }}">
                                        <a style="max-height: 80px">{{ liste[4]|default('Home staging')|striptags|u.truncate(25,'...',false) }}
                                            <span class="icon-right-arrow"></span></a>
                                    </li>

                                    <li data-toggle="popover" title="En détail"
                                        data-bs-content="{{ liste[7]|default('Aide au suivi')|striptags|u.truncate(300,'...',false) }}">
                                        <a style="max-height: 80px">{{ liste[6]|default('chantier')|striptags|u.truncate(25,'...',false) }}
                                            <span class="icon-right-arrow"></span></a>
                                    </li>

                                    <li data-toggle="popover" title="En détail"
                                        data-bs-content="{{ liste[9]|default('Honneté')|striptags|u.truncate(300,'...',false) }}">
                                        <a style="max-height: 80px">{{ liste[8]|default('Ecoute')|striptags|u.truncate(25,'...',false) }}
                                            <span class="icon-right-arrow"></span></a>
                                    </li>

                                    <li data-toggle="popover" title="En détail"
                                        data-bs-content="{{ liste[11]|default('visite 3D')|striptags|u.truncate(300,'...',false) }}">
                                        <a style="max-height: 80px">{{ liste[10]|default('virtuelle')|striptags|u.truncate(25,'...',false) }}
                                            <span  class="icon-right-arrow"></span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--     Block de DROITE / AVEC LES PHOTOS DE CETTE SECTION    -->
                <div class="col-xl-8 col-lg-7">
                    <div class="services-details__right">
                        {% for servicePub in promoServices %}

                            {% if servicePub.images.first %}
                                {% set imagePub = vich_uploader_asset(servicePub.images[0]) %}
                                {% set imagePubTitle = servicePub.images.first.titre %}
                            {% else %}
                                {% set imagePub = asset('assets/images/backgrounds/fond2.png') %}
                                {% set imageTitle = 'service détails image' %}
                            {% endif %}

                            <div class="services-details__content mt-0 mb-5">
                                <h2 class="services-details__title">{{ servicePub.titre1|default(('Designer'))|striptags }}</h2>
                            </div>

                            <div class="services-details__img">
                                <img src="{{ imagePub }}" style="height: 450px ; width: 100% ;object-fit: contain; margin-bottom: 2%"
                                     alt="{{ imagePubTitle|default('image représentant un bureau professionnel') }}">
                            </div>

                        <div class="services-details__content">
                            <p class="services-details__text-1 mt-4"> {{ servicePub.texte1|default(('le métier en quelques mots'))|striptags }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
     </section>

    <!--  GRID  -->
    <section class="mb-5">

    {% for servicePub in promoServices %}

        {% if servicePub.images.first %}
            {% set imagePub = vich_uploader_asset(servicePub.images[0]) %}
            {% set imagePubTitle = servicePub.images.first.titre %}
        {% else %}
            {% set imagePub = asset('assets/images/backgrounds/fond2.png') %}
            {% set imageTitle = 'service détails image' %}
        {% endif %}

        <div class="container" style="margin-bottom: 8%">
            <div class="row">
                <div class="col-4">
                    <!--   Block de gauche: les atouts                -->
                    <div class="services-details__designing-box">
                        <div class="services-details__designing-list-box" style="min-width: 30%">
                            <h2 class="services-details__designing-list-box-title">Les atouts</h2>
                            <ul class="services-details__designing-list list-unstyled">
                                {% set list = servicePub.liste %}
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[0] |default(('le métier en quelques mots'))|striptags }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[1] |default(('100% Satisfait'))|striptags }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[2] |default(('Respect des engagements'))|striptags }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[3] |default(('Délais, Coût, Qualité'))|striptags }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[4] |default(('Les meilleures solutions'))|striptags }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-slash"></i>
                                    </div>
                                    <div class="text">
                                        <p>{{ list[5] |default(('Professionnel et Qualifié'))|striptags }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--   Block de droite : accordéon et photos                                                          -->
                <div class="col-8">
                    <div class="services-details__designing-box">
                        <div class="services-details__faq mt-0">
                            <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                <div class="accrodion active">
                                    <div class="accrodion-title pt-2">
                                        <h4>{{ list[5] |default(('plan 2D - 3D'))|striptags }}</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>{{ list[6] |default(('Des plans aux cotations fonctionnelles, disponibles pour le particulier comme pour le professionnel.'))|striptags }}
                                            </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>{{ list[7] |default(('Planche de tendance et nuancier'))|striptags }}</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>{{ list[8] |default(('Votre dossier personnalisé vous suit dans toutes vos démarches, prêt à répondre à toutes vos inspirations.'))|striptags }}</p>                                       </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="services-details__designing-img">
                                {% if servicePub.images.first %}
                                    {% set imagePub2 = vich_uploader_asset(servicePub.images[1]) %}
                                    {% set imagePubTitle2 = servicePub.images.first.titre %}
                                {% else %}
                                    {% set imagePub = asset('assets/images/backgrounds/fond2.png') %}
                                    {% set imageTitle = 'service détails image' %}
                                {% endif %}
                                <img src="{{ imagePub2 }}" style="height: 450px ; width: 100% ;object-fit: contain"
                                     alt="{{ imagePubTitle2|default('image piscine eau bleu derriere une maison, protegée des regard, soleil et transat') }}">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
    <!--                                                                    fin de la section                                                           -->
{% endblock %}

