{% set Apps = theme.theme %}
<footer class="site-footer">


    <div class="site-footer__top">
        <div class="container">
            <div class="site-footer__top-inner">
                <div class="site-footer__top-left">
                    <div class="site-footer__top-logo-box">
                        {% set attribut = Apps.logo %}
                        <a href="{{ path('app_about') }}"><img src="{{ vich_uploader_asset(attribut) }}"
                                                               alt="{{ attribut.titre|default('image') }}"
                                                               width="80"></a>
                    </div>
                    <div class="site-footer__top-text">
                        <p>{{ Apps.titreFooter }}</p>
                    </div>
                </div>
                <div class="site-footer_top-btn-box">
                    <a href="{{ path('app_services') }}" class="site-footer_top-btn thm-btn">Mon offre</a>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__main">
        <div class="site-footer__main-pattern-bg1"
             style="background-image: url({{ asset('assets/images/pattern/pattern-1.jpg') }});"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <h3 class="footer-widget__title">About</h3>
                        <p class="footer-widget__text">{{ Apps.footerAbout }}</p>
                        <ul class="list-unstyled footer-widget__contact-list">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-square-alt"></i>
                                </div>
                                <div class="text">
                                    <p>>{{ Apps.telephone }}</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="text">
                                    <p>{{ Apps.mail }}</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="text">
                                    <p>{{ Apps.codePostal }} {{ Apps.localite }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__links clearfix">
                        <h3 class="footer-widget__title">Liens</h3>
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="{{ path('app_about') }}">About</a></li>
                            <li><a href="{{ path('app_our_mission') }}">Ma mission</a></li>
                            <li><a href="{{ path('app_projets') }}">Portfolio</a></li>
                            <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__explore">
                        <h3 class="footer-widget__title">Thèmes</h3>
                        <ul class="footer-widget__explore-list list-unstyled">

                            {% if Apps.themesPiedPage is defined %}
                                {% set li = Apps.themesPiedPage %}
                                <li>{{ li[1]}}</li>
                                <li>{{ li[2]}}</li>
                                <li>{{ li[3]}}</li>
                                <li>{{ li[4]}}</li>
                                <li>{{ li[5]}}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__newsletter">
                        <h3 class="footer-widget__title">Se retrouver sur les réseaux sociaux</h3>
                        <p class="footer-widget__newsletter-text"></p>
                        <div class="site-footer__social">
                            <a href="{{ Apps.linkedIn }}" target="_blank" class="clr-fb"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="{{ Apps.facebook }}" class="clr-fb"><i class="fab fa-facebook"></i></a>
                            {#                            <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a> #}
                            {#                            <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a> #}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer-bottom__inner">
                        <div class="site-footer-bottom__left">
                            <p>© Copyright 2023 by <a>{{ Apps.mail|default('elodiekolly.deco@gmail.com') }} </a></p>
                        </div>
                        <ul class="site-footer-bottom__menu list-unstyled">
                            <li><a href="#">Politique du site</a></li>
                            <li><a href="#">Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
