{{ dump(App) }}

<footer class="site-footer">
    <div class="site-footer__top">
        <div class="container">
            <div class="site-footer__top-inner">
                <div class="site-footer__top-left">
                    <div class="site-footer__top-logo-box">
                        <a href="{{ path('app_about') }}"><img src="assets/images/LOGO_ELODECO_2.png" alt="logo de l'entreprise ELO DECO"></a>
                    </div>
                    <div class="site-footer__top-text">
                        <p>Contactez-moi pour tout projet immobilier avec plan 3D, conseils de décoration, amélioration du confort et des espaces.</p>
                    </div>
                </div>
                <div class="site-footer_top-btn-box">
                    <a href="{{ path('app_services') }}" class="site-footer_top-btn thm-btn">Mon offre</a>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__main">
        <div class="site-footer__main-pattern-bg1"
             style="background-image: url(assets/images/pattern/pattern-1.jpg);"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <h3 class="footer-widget__title">About</h3>
                        <p class="footer-widget__text">Experte certifiée et expérimentée,
                           retrouvez-moi dans l'espace "about"</p>
                        <ul class="list-unstyled footer-widget__contact-list">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-square-alt"></i>
                                </div>
                                <div class="text">
                                    <p><a href="tel:92-666-888-0000">06 21 85 33 48</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:needhelp@company.com">elodiekolly.deco@gmail.com</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="text">
                                    <p>70190 TRESILLEY, FRANCE.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__links clearfix">
                        <h3 class="footer-widget__title">Liens</h3>
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="{{ path('app_about') }}">About</a></li>
                            <li><a href="{{ path('app_our_mission') }}">Ma mission</a></li>
{#                            <li><a href="team.html">Meet the Team</a></li>#}
                            <li><a href="{{ path('app_portfolio') }}">Portfolio</a></li>
                            <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__explore">
                        <h3 class="footer-widget__title">Thèmes</h3>
                        <ul class="footer-widget__explore-list list-unstyled">
                            <li>Plan 3D</li>
                            <li>Visites virtuelles</li>
                            <li>Conseils déco</li>
                            <li>Réseau d'artisans </li>
                            <li>Aide au suivi </li>
{#                            <li><a href="#">Types of Designs</a></li>#}
{#                            <li><a href="#">Our Story</a></li>#}
{#                            <li><a href="#">Latest News</a></li>#}
{#                            <li><a href="#">Help Center</a></li>#}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__newsletter">
                        <h3 class="footer-widget__title">Se retrouver sur les réseaux sociaux</h3>
                        <p class="footer-widget__newsletter-text">La joie de partager.</p>
{#                        <form class="footer-widget__newsletter-form">#}
{#                            <div class="footer-widget__newsletter-input-box">#}
{#                                <input type="email" placeholder="Email address" name="email">#}
{#                                <button type="submit" class="footer-widget__newsletter-btn"><i#}
{#                                            class="icon-right-arrow"></i></button>#}
{#                            </div>#}
{#                        </form>#}
                        <div class="site-footer__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                            <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer-bottom__inner">
                        <div class="site-footer-bottom__left">
                            <p>© Copyright 2023 by <a href="#">elodiekolly.deco@gmail.com</a></p>
                        </div>
                        <ul class="site-footer-bottom__menu list-unstyled">
                            <li><a href="#">Politique du site</a></li>
                            <li><a href="#">Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>