{% set Apps = theme.theme %}

<header class="main-header clearfix" style="background-color: {{ Apps.couleurActuelleBg }}">
    <div class="container">
        <div class="main-menu-wrapper">
            <div class="main-header__logo">
                <a href="{{ path('app_home') }}">

                    {% set image1 = Apps.logo %}
                    <img src="{{ vich_uploader_asset(image1) }}"
                         alt="{{ image1.titre|default('image') }}" width="98">

                </a>
            </div>
            <div class="main-menu-wrapper__top" style="background-color: {{ Apps.couleurActuelleBg }}">
                <div class="main-menu-wrapper__top-inner">
                    <div class="main-menu-wrapper__left">
                        <div class="main-menu-wrapper__left-content">
                            <ul class="main-menu-wrapper__left-contact-box list-unstyled">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone-square-alt"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="tel:0384000000">{{ Apps.telephone }}</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:needhelp@company.com">{{ Apps.mail }}</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-menu-wrapper__right">
                        <div class="main-menu-wrapper__right-social">
                            <a href="{{ Apps.linkedIn }}" target="_blank" class="clr-fb"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                            <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                            <a href="{{ Apps.linkedIn|default('[No name]') }}" target="_blank" class="clr-fb"><i
                                        class="fab fa-facebook"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="main-menu-wrapper__bottom" style="background-color: {{ Apps.couleurActuelleBg }}">
                <nav class="main-menu">
                    <div class="main-menu__inner">
                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                        <ul class="main-menu__list">
                            <li class="current m-lg-1">
                                <a href="{{ path('app_home') }}">Accueil</a>
                            </li>
                            <li class="dropdown">
                                <a href="{{ path('app_services') }}">Services</a>
                                {#                                <ul> #}
                                {#                                    <li><a href="{{ path('app_services') }}">Services</a></li> #}
                                {#                                    <li><a href="{{ path('app_services_details') }}">Service Details</a></li> #}
                                {#                                </ul> #}
                            </li>
                            <li class="dropdown">
                                <a href="#">A propos</a>
                                <ul>
                                    <li><a href="{{ path('app_about') }}">A propos</a></li>
                                    <li><a href="{{ path('app_our_mission') }}">Ma mission</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="{{ path('app_projets') }}">Projets</a>
                            </li>
                            <li class="dropdown">
                                <a href="{{ path('app_styles') }}">Styles déco</a>
                            </li>
                            <li class="">
                                <a href="{{ path('app_news') }}">Actualités</a>
                            </li>
                            <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        </ul>

                        <!--                    LOUPE COMMENTEE AINSI QUE LE BOUTON EN SAVOIR PLUS / A LA PLACE ACCES ESPACE MEMBRE                                  -->

                        <div class="main-menu__right">
                            {% if is_granted('ROLE_USER') %}

                                <a href="{{ path('app_logout') }}">Déconnexion</a>
                            {% else %}
                                <a href="#" class="side-menu__toggler  ">
                                    <i class="font-italic fs-6 m-lg-2">Connexion</i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
</div>

