<header class="main-header clearfix">

    <div class="main-header__three-line-icon top-50 mb-xl-2">
        {#        flex-column align-middle justify-content-center#}
        <a href="#" class="side-menu__toggler  ">
            <img src="{{ asset('assets/images/resources/main-header-three-line-icon.png') }}" alt="icone 3 barres horizontale d'accès à l'espace personnel">
            <i class="font-italic fs-6 m-lg-2">Espace personnel</i>
        </a>
    </div>

    <div class="container">

        <div class="main-menu-wrapper">

            <div class="main-header__logo">
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('assets/images/LOGO_ELODECO_1.png') }}" height="110"
                         alt="Logo de l'entreprise ELODECO, conseil en décoration intérieure, représentant une maison sur fond blanc avec des éléments végétaux">
                </a>
            </div>
            <div class="main-menu-wrapper__top">
                <div class="main-menu-wrapper__top-inner">
                    <div class="main-menu-wrapper__left">
                        <div class="main-menu-wrapper__left-content">
                            <ul class="main-menu-wrapper__left-contact-box list-unstyled">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone-square-alt"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="tel:0384000000">06 21 85 33 48</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:needhelp@company.com">elodiekolly.deco@gmail.co</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-menu-wrapper__right">
                        <div class="main-menu-wrapper__right-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                            <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu-wrapper__bottom">
                <nav class="main-menu">
                    <div class="main-menu__inner">
                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                        <ul class="main-menu__list">
                            <li class="current">
                                <a href="{{ path('app_home') }}">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Services</a>
                                <ul>
                                    <li><a href="{{ path('app_services') }}">Services</a></li>
                                    <li><a href="{{ path('app_services_details') }}">Service Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">About</a>
                                <ul>
                                    <li><a href="{{ path('app_about') }}">A propos</a></li>
                                    <li><a href="{{ path('app_our_mission') }}">Ma mission</a></li>
{#                                    <li><a href="{{ path('app_team') }}">Team</a></li>#}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Portfolio</a>
                                <ul>
                                    <li><a href={{ path('app_portfolio') }}>Portfolio</a></li>
                                    <li><a href="{{ path('app_portfolio_details') }}">Portfolio Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">News</a>
                                <ul>
                                    <li><a href={{ path('app_news') }}>News</a></li>
                                    <li><a href="{{ path('app_news_details') }}">News Details</a></li>
                                </ul>
                            </li>
                            <li><a href={{ path('app_contact') }}>Contact</a></li>
                        </ul>
                        <div class="main-menu__right">
                            <a href="#" class="main-menu__search search-toggler icon-magnifying-glass"></a>
                            <a href="{{ path('app_home') }}" class="main-menu__read-more-btn thm-btn">En savoir
                                plus </a>
                        </div>
                     </div>
                </nav>
            </div>
        </div>


    </div>
</header>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
