<div class="side-menu__block">
    <div class="side-menu__block-overlay custom-cursor__overlay side-menu__toggler">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div>
    <!--                                                                    Menu latéral                                                                  -->
    <div class="side-menu__block-inner ">
        <span class="side-menu__close side-menu__toggler"></span>
        <a href="{{ path('app_contact') }}">
            <img src="{{ asset('assets/images/LOGO_ELODECO_1.png') }}" width="150"
                 alt="Logo de l'entreprise ELODECO, conseil en décoration intérieure, représentant une maison sur fond blanc avec des éléments végétaux">
        </a>
        <!--                                                               SE CONNECTER / DECONNECTER                                                     -->
        <div class="side-menu__block-about">
            <h3 class="side-menu__block__title">Espace personnel</h3>
            <a href="{{ path('app_login') }}" class="font-italic">Se connecter</a> <span>/</span>  <br>
            <a href="{{ path('app_logout') }}" class="mb-10 font-italic">Déconnecter</a>  <br>

            <h3 class="side-menu__block__title mt-4" >A propos de moi</h3><!-- /.side-menu__block__title -->
            <p class="side-menu__block-about__text mb-4">Passionnée de décoration, diplômée et expérimentée, je propose une gamme de services
                à destination des professionnels et des particuliers.</p><!-- /.side-menu__block-about__text -->
            <a href="{{ path('app_contact') }}" class="thm-btn side-menu__block-about__btn">Demande en ligne</a>
        </div><!-- Me joindre -->
        <hr class="side-menu__block-line"/>
        <div class="side-menu__block-contact">
            <h3 class="side-menu__block__title">Me joindre</h3><!-- /.side-menu__block__title -->
            <ul class="side-menu__block-contact__list">
                <li class="side-menu__block-contact__list-item">
                    <i class="fa fa-map-marker"></i>
                    70190 TRESILLEY, FRANCE.
                </li><!-- autre info? -->
                <li class="side-menu__block-contact__list-item">
                    <i class="fa fa-phone"></i>
                    (+33) 06 21 85 33 48
                </li><!--  autre info?-->
                <li class="side-menu__block-contact__list-item">
                    <i class="fa fa-envelope"></i>
                    elodiekolly.deco@gmail.com
                </li><!--  autre info? -->
                <li class="side-menu__block-contact__list-item">
                    <i class="fa fa-clock"></i>
                    09.00 to 18.00 <br> Samedi & dimanche : fermé
                </li><!--  autre info?-->
            </ul><!--  autre info?-->
        </div><!--  autre info? -->
        <p class="side-menu__block__text site-footer__copy-text"><a href="#">Elo Deco</a> <i
                    class="fa fa-copyright"></i>
            2023 All Right Reserved</p>
    </div>
</div><!--                                                              Fin menu lateral                                                             -->
